<div class="p-dialog-header custom-header" >
    <p
    class="p-dialog-title AvenirLTStd-Heavy mb-0">Add - Rentals</p>
    <p class="mb-0 AvenirLTStd-Heavy">Event # OP2290 - ABC Widgets - ABC Widgets, 2020 Mockingbird lane - Fri 19-03-2021 - 02:00 PM - 06:00 PM - DOL - 20 Guests-SA</p>

    <div class="p-dialog-header-icons "><button type="button"
            class=" p-dialog-header-icon p-dialog-header-maximize p-link "
           ><span
                class="p-dialog-header-close-icon pi pi-times "></span></button>
    </div>
</div>

<div class="body-content p-2">
<ul class="list-item-container">
    <li class="list-item active"><span class="material-icons me-2">
        category
        </span>Item</li>
    <li class="list-item"><span class="material-icons me-2">
        library_add
        </span>Collection</li>
    <li class="list-item"><span class="material-icons me-2">
        format_list_bulleted
        </span>
        Package</li>
    <li class="list-item"><span class="material-icons">
        restaurant_menu
        </span>Combo</li>
</ul>

    <div >
        <p-tabView styleClass="tabview-custom tabview-custom-style">
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        menu
                        </span>     <span>Menu</span>
                </ng-template>
                <app-menu></app-menu>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        person_outline
                        </span> <span>Staffing</span>
                </ng-template>
               <app-staffing></app-staffing>  
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        liquor
                        </span>   <span>Alcohol</span>
                </ng-template>
               <app-alcohol></app-alcohol>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        wine_bar
                        </span>     <span>Beverages</span>
                </ng-template>
             <app-beverages></app-beverages>  
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        construction
                        </span>  <span>Equipment</span>
                </ng-template>
              <app-equipment></app-equipment> 
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons-outlined me-2">
                        restore_from_trash
                        </span>   <span>Disposables</span>
                </ng-template>
               <app-disposable></app-disposable>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span class="material-icons-outlined me-2">
                        supervised_user_circle
                        </span>  <span>Rentals</span>
                </ng-template>
                <app-rentals></app-rentals>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <ng-template pTemplate = "header">
                    <span class="material-icons-outlined me-2">
                        chair
                        </span>      <span>Decor</span>
                </ng-template>
                <app-decor></app-decor>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <ng-template pTemplate = "header">
                    <span class="material-icons me-2">
                        add_circle_outline
                        </span>    <span>Sample Additional Service</span>
                </ng-template>
                <app-additional-service></app-additional-service>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

