<div
    class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center mt-2 d-flex align-items-center justify-content-between">
    <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
        01:30
        PM - 02:00 PM - Web Order - 1 Guests-HH</p>
</div>
<div class="mt-2">
    <p-table [value]="customer" styleClass="p-datatable-sm " >
    
        <ng-template pTemplate="header">
            <tr class="bg-cater-pink" >
                <td colspan="4">
                    <h6 class="AvenirLTStd-Medium mb-0">Thursday, November 1</h6>
                </td>
            </tr>
            <tr>
                <th class="sticky-top">Action</th>
                <th class="sticky-top">Version</th>
                <th class="sticky-top">User</th>
                <th class="sticky-top">
                    Updated Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="bg-orange" *ngIf="rowIndex%3==0">
                <td colspan="4">
                    <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                </td>
            </tr>
            <tr class="tr-data">
                <td>
                    0.00
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </ng-template>
    </p-table>
</div>