<!-- menu  -->
<div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Rental Item Name"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                       
                    </th>
                    <th class="sticky-top">Item Name</th>
                
                    <th class="sticky-top">Quantity</th>
                 
                    <th class="sticky-top">Price</th>
                    
                    <th class="sticky-top">Total    </th>
                    
        
                    <th class="sticky-top">Comments</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="bg-orange" *ngIf="rowIndex%3==0">
                    <td colspan="15">
                        <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                    </td>
                </tr>
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </td>
                    <td>
                        each    
                    </td>
                    <td>
                        <input type="text" id="inputgroup" pInputText class="text-end " value="20">
                    </td>
                    <td>
                        4.00
                    </td>
                    <td>
                        4.00
                    </td>
                    <td>
                        <textarea pInputTextarea cols="20" rows="1" class="w-100"></textarea>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button pButton pRipple type="button" icon="pi pi-times" label="Close"
        class="p-button-danger position-btn l-0"></button>
    <p-button label="Save" icon="pi pi-save" class="me-2 position-btn r-0"></p-button>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
  
        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Category</label>
                </span>
            </div>
        
      
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Item Name</label>
                </span>
            </div>
          
        </div>
    
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>


<!-- collection -->
<div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Name"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </th>
                    <th class="sticky-top">	Item Name</th>
                    <th class="sticky-top">Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                <tr class="bg-orange" *ngIf="rowIndex%3==0">
                    <td colspan="15">
                        <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                    </td>
                </tr>
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </td>
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        4.00
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button pButton pRipple type="button" icon="pi pi-times" label="Close"
        class="p-button-danger position-btn l-0"></button>
    <p-button label="Save" icon="pi pi-save" class="me-2 position-btn r-0"></p-button>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-multiSelect inputId="multiselect" [options]="cities" optionLabel="name" [filter]="true">
                    </p-multiSelect>
                    <label for="dropdown">Categories</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Name</label>
                </span>
            </div>
      
        </div>
     
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>


<!-- package -->
<div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Package"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">	Package</th>
                    <th class="sticky-top">Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
          
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        4.00
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Category</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Package</label>
                </span>
            </div>
      
        </div>
     
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>


<!-- combo -->
<!-- <div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Combo"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">	Combo</th>
                    <th class="sticky-top">Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
          
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        4.00
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Category</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Combo</label>
                </span>
            </div>
      
        </div>
     
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel> -->