<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
        <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input" placeholder="Search Event #" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
        <!-- <span class="material-icons box-shadow print-icon">
            print
        </span> -->
    </div>
</div>
<div
    class=" bg-grey-darker color-white py-2 px-2 mx-3 border-bottom text-center d-flex align-items-center justify-content-center mt-1">
    <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
        01:30
        PM - 02:00 PM - Web Order - 1 Guests-HH</p>

</div>
<div class="px-3 pb-3">
    <p-table [value]="customer" selectionMode="single" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Event #</th>
                <th class="sticky-top">Customer Name</th>
                <th class="sticky-top">Start Date</th>
                <th class="sticky-top">AE</th>
                <th class="sticky-top">Guest Count</th>
                <th class="sticky-top">Event Type</th>
                <th class="sticky-top">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <!-- <tr class="bg-orange">
                <td colspan="15"><h6 class="AvenirLTStd-Medium mb-0">Thursday, November 12th, 2020</h6></td>
            </tr> -->
            <tr [pSelectableRow]="customer" class="tr-data">

                <td>
                    1
                </td>
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>

                <td>
                    ahex@ahe.co.in
                </td>
                <td>
                    212.333.4444
                </td>
                <td>
                    212.333.4444
                </td>
                <td>
                    212.333.4444
                </td>
                <td>
                    212.333.4444
                </td>

            </tr>
        </ng-template>
    </p-table>
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger mt-2"></button>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="p-fluid p-grid row m-0">
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Event #</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Customer</label>
                </span>
            </div>
            <div class="col-md-6 col-12 d-flex pe-0">
                <div class="p-field col-col-12   col-md-6 pe-0 ">
                    <span class="p-float-label">
                        <p-calendar inputId="basic" [maxDate]=""></p-calendar>
                        <label for="inputtext">Start Date</label>
                    </span>
                </div>
                <div class="p-field col-12   col-md-6   ps-2">
                    <span class="p-float-label">
                        <!-- <input type="text" id="inputtext" pInputText> -->
                        <p-calendar inputId="basic" [minDate]=""></p-calendar>
                        <label for="inputtext">End Date</label>
                    </span>
                </div>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  ">
                <!-- <label>AE</label>
                <p-listbox [options]="cities" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox> -->
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"  optionLabel="name"></p-dropdown>
                    <label for="dropdown">AE</label> -->
                    <p-multiSelect  inputId="multiselect"
                       optionValue="id" optionLabel="name">
                    </p-multiSelect>
                    <label for="multiselect">AE</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <!-- <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Event Type</label>
                </span> -->
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" optionValue="id" optionLabel="type">
                    </p-dropdown>
                    <label for="dropdown">Event Type</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4">
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Business Units</label> -->
                    <p-multiSelect  inputId="multiselect"
                        optionValue="id" optionLabel="name">
                    </p-multiSelect>
                    <label for="multiselect">Business Units</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4">
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Event Status</label> -->


                    <p-multiSelect  selectedItemsLabel="{0} items selected" inputId="multiselect"
                        [options]="" optionValue="id" optionLabel="status">
                    </p-multiSelect>
                    <label for="multiselect">Event Status</label>
                </span>
            </div>
            <div class="p-field col-12 col-md-6  pe-0 list-cont">
                <label>Guest Count</label>
                <div class="d-flex align-items-center">
                    <p-inputNumber inputId="integeronly" class="me-2 text-end" placeholder="Min"></p-inputNumber>
                    <p-inputNumber inputId="integeronly" class="me-2 text-end" placeholder="Max"></p-inputNumber>
                </div>
            </div>
            <div class="p-field col-12 col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown"   optionValue="id" optionLabel="name">
                    </p-dropdown>
                    <label for="inputtext">Location</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>