<div class="px-3 ">
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Date</th>
                <th class="sticky-top">Comments</th>
                <th class="sticky-top">Type</th>
                <th class="sticky-top">Active</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
                <td>
                    5/7/2004
                </td>
                <td class="AvenirLTStd-Medium">
                    POst Valentine's Blues
                </td>
                <td>
                    <p id="pointerClosed"><span class="pointer-span">Approval</span></p>
                </td>
                <td>
                    Yes
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>
    </div>
</div>