.rounded-btn{
    background: #ffffff;
    color: black;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 10px;
cursor: pointer;
}