<div class="p-field row     pt-2">
    <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">From</h6>
    <div class="p-inputgroup col-md-9 col-12">
        <span class="p-inputgroup-addon">
            <span class="material-icons-outlined f-20">
                perm_identity
            </span>
        </span>
        <span class="p-float-label">
            <input type="text" id="inputgroup" pInputText placeholder="From">

        </span>
    </div>
</div>
<div class="p-field row     pt-2">
    <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">Recipients</h6>
    <div class="p-inputgroup col-md-9 col-12 d-none">
        <span class="p-inputgroup-addon">
            <span class="material-icons-outlined f-20">
                perm_identity
            </span>
        </span>
        <span class="p-float-label">
            <input type="text" id="inputgroup" pInputText placeholder="Recipients">

        </span>
    </div>
    <div class=" col-md-9 col-12">
        <div class="p-field row    pt-2">
            <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">To</h6>
            <div class="p-inputgroup col-md-9 col-12">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        perm_identity
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText placeholder="To">
        
                </span>
            </div>
        </div>
        <div class="p-field row    pt-2">
            <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">CC</h6>
            <div class="p-inputgroup col-md-9 col-12">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        perm_identity
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText placeholder="CC">
        
                </span>
            </div>
        </div>
        <div class="p-field row   pt-2">
            <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">BCC</h6>
            <div class="p-inputgroup col-md-9 col-12">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        perm_identity
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText placeholder="BCC">
        
                </span>
            </div>
        </div>
    </div>
</div>
<div class="p-field row    pt-2">
    <h6 class="AvenirLTStd-Heavy mb-0 px-2 bg-white col-md-3 col-12">Subject</h6>
    <div class="p-inputgroup col-md-9 col-12">
        <span class="p-inputgroup-addon">
            <span class="material-icons-outlined f-20">
                perm_identity
            </span>
        </span>
        <span class="p-float-label">
            <input type="text" id="inputgroup" pInputText placeholder="Subject">

        </span>
    </div>
</div>
<div class="p-field row   align-items-center  pt-2">
    <div class="p-inputgroup col-12">
        <span class="p-inputgroup-addon">
            <span class="material-icons f-20">
                chat
            </span>
        </span>
        <span class="p-float-label">
            <textarea id="float-input" rows="5" pInputTextarea></textarea>
        </span>
    </div>
</div>
<div class="text-end d-flex align-items-center justify-content-end">
    <span class="material-icons-outlined rounded-btn box-shadow">
        attach_file
    </span>
</div>

<div class="nav justify-content-between align-items-center mt-2 px-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <div class="">

    <p-button label="Send"  icon="pi pi-send" iconPos="right" ></p-button>
    </div>

</div>