<!-- <p>header works!</p> -->
<div class="nav-container sticky-top z-index-1021">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white box-shadow">
        <div class="container-fluid p-0">
            <div class="row m-0 w-100 align-items-center nav">
                <div class="col-sm-4 col-12 logo ">
                    <a class="navbar-brand  m-0" href="#"><img src="assets/images/lite.png" alt="logo"
                            class="img-fluid h-100"></a>
                </div>

                <h3 class="mb-0 AvenirLTStd-Heavy col-sm-4 col-12 text-center p-0">{{apiService.headerName}}</h3>
                <div class="d-flex align-items-center col-sm-4 col-12 justify-content-end">
                    <span class="material-icons me-2 grey-light">
                        restaurant
                    </span>
                    <span [routerLink]="['/events/event-list']" class="material-icons active me-5">
                        home
                    </span>
                    <!-- <p-confirmPopup>
                    <ng-template pTemplate="header">
                        sas
                        </ng-template>
                      </p-confirmPopup> -->

                    <div class="user-symbol">
                        <a href="javascript:void(0)" class="symbol" (click)="op.toggle($event)">SA</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<p-overlayPanel #op [style]="{width: '200px'}" appendTo="body">
    <ng-template pTemplate>
        <ul class="m-0 p-0">
            <li [routerLink]="['/user/switchuser']" [ngClass]="{'active': apiService.headerName=='Superadmin Login'}"
                class="drop-list"> <span class="material-icons me-2 mb-1">
                    groups
                </span> Switch User</li>
            <li (click)="changepassword(op)" class="drop-list"><span class="material-icons me-2 mb-1">
                    vpn_key
                </span>Change Password</li>
            <li [routerLink]="['/user/userprefernce']" [ngClass]="{'active': apiService.headerName=='User Preferences'}"
                class="drop-list"><span class="material-icons me-2 mb-1">
                    person
                </span>User Preferences</li>
            <li [routerLink]="['/user/systemprefernce']"
                [ngClass]="{'active': apiService.headerName=='System Preferences'}" class="drop-list"><span
                    class="material-icons me-2 mb-1">
                    check_circle_outline
                </span>System Preferences</li>
            <li (click)="logout()" class="drop-list"><span class="material-icons me-2 mb-1">
                    logout
                </span>Log Out</li>
            <li (click)="openAbout(op)" class="drop-list"><span class="material-icons-outlined me-2">
                    info
                </span>About</li>
        </ul>
    </ng-template>
</p-overlayPanel>