<!-- <p>create-event works!</p> -->
<div class="mx-5 mt-5 mb-2">
    <p-card>
        <ng-template pTemplate="header" class="mx-3 pt-3">

            <ul class="timeline m-0 p-0 w-100 d-flex align-items-center" id="timeline">
                <li class="li timeline-item " [ngClass]="{'complete': tabIndex === 0, 'visited': tabIndex > 0 }"
                    (click)="tabIndex=0">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon "><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper beta-group label-text">Customer Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 1, 'visited': tabIndex > 1}"
                    (click)="tabIndex=1">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Event Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 2, 'visited': tabIndex > 2}"
                    (click)="tabIndex=2">
                    <div>
                        <div class="number-wrapper mb-2"><span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Other Information</h6>
                    </div>
                </li>
            </ul>
        </ng-template>
        <ng-container *ngIf="tabIndex === 0">
            <div class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy px-2 bg-white">Customer Information</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                                    [options]="cities" optionLabel="name"></p-dropdown>
                                <label for="inputgroup">Billing Customer

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    print
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Bill Customer Print
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Billing Contact
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    print
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Bill Contact Print
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    <i class="fas fa-road"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Street
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    location_on
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Suite
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    apartment
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">City
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    flag
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">State

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    email
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Zip
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    <i class="fas fa-tty"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Phone
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Accounting ID

                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="">
                    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 1">
            <div class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy px-2 bg-white">Event Information</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    near_me
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Invoice #
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    restaurant
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event Type
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    calendar_today
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-calendar></p-calendar>
                                <label for="inputgroup">Event Date
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    schedule
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-calendar [timeOnly]="true" inputId="timeonly"></p-calendar>
                                <label for="inputgroup">Event Time
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    groups
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Guest Count
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    location_on
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    <i class="fas fa-road"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Street
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    location_on
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Suite
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    apartment
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">City
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    flag
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">State

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    email
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Zip
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    <i class="fas fa-tty"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Location Phone
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    flag
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">County

                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 2">
            <div class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy px-2 bg-white">Other Information</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 ">
                        <label for="inputgroup">Tax Exempt Info
                        </label>
                        <div class="p-inputgroup">
                            <!-- <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    near_me
                                    </span>
                            </span> -->
                            <span class="p-float-label align-items-center ">
                                <p-inputSwitch></p-inputSwitch>
                                <input type="text" id="inputgroup" pInputText class="mx-2">
                                <button pButton class=" ps-2"> <span class="material-icons ">
                                        calculate
                                    </span></button>

                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 ">
                        <label for="inputgroup">Other Tax Exempt
                        </label>
                        <div class="p-inputgroup">
                            <!-- <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    restaurant
                                    </span>
                            </span> -->
                            <span class="p-float-label pt-2">
                                <p-inputSwitch></p-inputSwitch>

                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    credit_card
                                </span>
                            </span>
                            <span class="p-float-label">
                               
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Credits
                                </label>
                            </span>
                            <a href="javascript:void(0)" class="d-flex align-items-center pe-3"><span
                                class="material-icons ms-2 pe-2">
                                credit_card
                            </span><span class="AvenirLTStd-Heavy">Details</span></a>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    local_atm
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Payments
                                </label>
                            </span>
                            <a href="javascript:void(0)" class="d-flex align-items-center pe-3"><span
                                class="material-icons ms-2 pe-2">
                                credit_card
                            </span><span class="AvenirLTStd-Heavy">Details</span></a>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_list_bulleted
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                                    [options]="cities" optionLabel="name"></p-dropdown>
                                <label for="inputgroup">Bill Terms
                                </label>
                            </span>
                        </div>
                        
                            <div class="p-inputgroup pt-4">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        %
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" id="inputgroup" pInputText>
                                    <label for="inputgroup">Commission %
                                    </label>
                                </span>
                            </div>
                       
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    date_range
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Due Date
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    local_offer
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Purchase Order #
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Notes
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
                </div>
            </div>
        </ng-container>
    </p-card>
</div>