<p-table [value]="customer" styleClass="p-datatable-sm staffing-item-table mt-2">
    <ng-template pTemplate="header">
        <tr>
           
            <th class="sticky-top">Category</th>
            <th class="sticky-top">Selected Image / Reset</th>
            <th class="sticky-top">Preview</th>
         

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
        <tr class="tr-data">
            <td>
              Cover Page
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  class="w-100" styleClass="w-100" 
                    [options]="" optionLabel="name"></p-dropdown>
                    <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded ms-2"></button>
                </div>
            </td>
            <td>
               <img src="assets/images/check.svg" class="img-fluid">
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="d-flex align-items-center justify-content-between pt-2 pb-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <button pButton pRipple type="button" icon="pi pi-save" label="Save" class=""></button>
</div>