<div class=" events-order-container mx-3 mt-3">
    <p-card class="" styleClass="p-0 event-o-card">
        <div class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center">
            <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
                01:30
                PM - 02:00 PM - Web Order - 1 Guests-HH</p>
        </div>

        <div class="">
            <p-table [value]="customer" styleClass="p-datatable-sm ">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="sticky-top"></th>
                        <th class="sticky-top">Name</th>
                        <th class="sticky-top">Quantity</th>
                        <th class="sticky-top">Unit</th>
                        <th class="sticky-top">Price</th>
                        <th class="sticky-top">Description</th>
                        <th class="sticky-top">Directions</th>
                        <th class="sticky-top">Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                    <tr class="bg-cater-pink" *ngIf="rowIndex%3 == 0">
                        <td colspan="8">
                            <h6 class="AvenirLTStd-Medium mb-0">Item {{rowIndex+1}}</h6>
                        </td>
                    </tr>
                    <tr class="tr-data">
                        <td>
                            <button pbutton="" pripple="" type="button" icon="pi pi-pencil" (click)="show()"
                                class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"><span
                                    class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span
                                    aria-hidden="true" class="p-button-label">&nbsp;</span></button>

                            <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                                    class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                                    class="p-button-label">&nbsp;</span></button>
                        </td>
                        <td>
                            <input type="text" id="inputgroup" pInputText class="w-100">
                        </td>
                        <td>
                            <input type="text" id="inputgroup" pInputText class="text-end w-101px">
                        </td>
                        <td>
                            <p-dropdown appendTo="body" [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" [options]="" optionLabel="name" styleClass="w-101px h-27"></p-dropdown>
                        </td>
                        <td>
                            <input type="text" id="inputgroup" pInputText class="text-end w-101px">
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <textarea id="float-input" rows="1" pInputTextarea class="w-100"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <textarea id="float-input" rows="1" pInputTextarea class="w-100"></textarea>
                            </div>
                        </td>
                        <td>
                            <input type="text" id="inputgroup" pInputText class="text-end w-101px">
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="7" class="text-end sticky-bottom bg-grey-darker color-white">GrandTotal :</td>

                        <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2  px-2 nav">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger mb-2"></button>
            <p-button label="Add Items" icon="pi pi-plus-circle" iconPos="right" styleClass="p-button-info mb-2" (click)="show1()"></p-button>
            <p-button label="Save" icon="pi pi-save" class="me-2" styleClass="p-button-info mb-2"></p-button>
            <p-button label="Finalize" icon="pi pi-check-circle" iconPos="right"></p-button>
        </div>
    </p-card>

</div>



<p-dialog header="Package - Pkg All Items 2 Lunch" [(visible)]="display" styleClass="events-order-list"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-edit-event-order></app-edit-event-order>
    <ng-template pTemplate="footer">
        <div class="nav justify-content-between align-items-center">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
                (click)="display=false"></button>
            <p-button label="Save" (click)="display=false" icon="pi pi-save" iconPos="left"></p-button>
        </div>
    </ng-template>
</p-dialog>