<p-table [value]="customer" styleClass="p-datatable-sm staffing-item-table mt-2">
    <ng-template pTemplate="header">
        <tr>
           
            <th class="sticky-top">Course</th>
            <th class="sticky-top">Item Name</th>
            <th class="sticky-top">Description</th>
            <th class="sticky-top">Notes</th>
            <th class="sticky-top">Qty/Unit</th>
            <th class="sticky-top">Unit</th>
            <th class="sticky-top">Unit Price</th>
            <th class="sticky-top">Total Price</th>
            <th class="sticky-top">Temp</th>
            <th class="sticky-top">Directions for kitchen</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
        <tr class="tr-data">
            <td>
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  class="h-27" styleClass="h-27"
                [options]="" optionLabel="name"></p-dropdown>
            </td>
            <td>
                <textarea id="float-input" rows="2" pInputTextarea class="w-130"></textarea>
            </td>
            <td>
                <textarea id="float-input" rows="2" pInputTextarea class="w-130"></textarea>
            </td>
            <td>
                <textarea id="float-input" rows="2" pInputTextarea class="w-130"></textarea>
            </td>
            <td>
                <div >
                    <input type="text" id="inputgroup" pInputText class="w-87 mb-1">
                </div>
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" class="h-27" styleClass="h-27"
                [options]="" optionLabel="name"></p-dropdown>
            </td>
            <td>
                <input type="text" id="inputgroup" pInputText class="w-87">
            </td>
            <td>
                <input type="text" id="inputgroup" pInputText class="w-87">
            </td>
            <td>
                <input type="text" id="inputgroup" pInputText class="w-87">
            </td>
            <td>
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" class="h-27" styleClass="h-27"
                [options]="" optionLabel="name"></p-dropdown>
            </td>
            <td>
                <textarea id="float-input" rows="2" pInputTextarea class="w-130"></textarea>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="d-flex align-items-center justify-content-between pt-2 pb-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <button pButton pRipple type="button" icon="pi pi-save" label="Save" class=""></button>
</div>