<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>


<app-header *ngIf="!login.isActive"></app-header>
<div [ngClass]="{'widget-container':!login.isActive && !superadmin.isActive}">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div>



<span style="pointer-events: none;" routerLink="/login" routerLinkActive
#login="routerLinkActive">
</span>
<span style="pointer-events: none;" routerLink="/user/switchuser" routerLinkActive
#superadmin="routerLinkActive">
</span>
