<ng-container *ngIf="tabIndex === 0">
    <div class="mt-2">
        <p-table [value]="customer" styleClass="p-datatable-sm ">
            <ng-template pTemplate="header">
                <tr>
                  
                    <th class="sticky-top">           <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div></th>
                    <th class="sticky-top">
                        Service</th>
                    <th class="sticky-top">Include</th>
                    <th class="sticky-top">Default Commission</th>
                    <th class="sticky-top">Edited Commission</th>
                    <th class="sticky-top">Commission Type</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="tr-data">
                    <td>           <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td>Menu</td>
                
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
    
                </tr>
            </ng-template>
           
             
          
        </p-table>
      
    </div>
</ng-container>
<ng-container *ngIf="tabIndex === 1">
    <div class="row">
        <div class="col-md-4  "></div>
        <div class="p-field   col-md-4  col-12 pt-4 d-flex align-items-center">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                    person
                        </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  optionLabel="name" styleClass="w-100" class="w-100"></p-dropdown>
                    <label for="inputgroup">Payee Name
                    </label>
                </span>
            </div>
            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success ms-2"></button>
        </div>
    </div>


    <div class="mt-2">
        <p-table [value]="customer" styleClass="p-datatable-sm ">
            <ng-template pTemplate="header">
                <tr>
                  
                    <!-- <th class="sticky-top">           <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div></th> -->
                    <th class="sticky-top">
                        Service</th>
                    <th class="sticky-top">Include</th>
                    <th class="sticky-top">Default Commission</th>
                    <th class="sticky-top">Edited Commission</th>
                    <th class="sticky-top">Commission Type</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="tr-data">
                    <!-- <td>           <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td> -->
                    <td>Menu</td>
                
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
    
                </tr>
            </ng-template>
           
             
          
        </p-table>
      
    </div>
</ng-container>
<div class="nav justify-content-between align-items-center sticky-bottom bg-white pb-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
        ></button>
    <p-button label="Add"  icon="pi pi-plus-circle" iconPos="left"  (click)="tabIndex=1" *ngIf="tabIndex == 0"></p-button>
    <p-button label="Save"  icon="pi pi-save" iconPos="left" (click)="tabIndex=0" *ngIf="tabIndex == 1"></p-button>
</div>