<!-- <p>bill-service works!</p> -->
<div class="  mx-3 mt-3">
    <div
        class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center d-flex align-items-center justify-content-between">
        <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2313 - ABC Widgets - ABC Widgets, 2020 Mockingbird lane - Thu
            15/4/2021 - 01:00 AM - 08:00 PM - DOL - 50 Guests-SB</p>
        <div class="d-flex align-items-center">
            <span class="material-icons box-shadow print-icon color-black ms-2" pTooltip="Generate Bill">
                receipt
            </span>
            <span class="material-icons box-shadow print-icon color-black ms-2" pTooltip="Recreate Bill">
                content_copy
            </span>
            <span class="material-icons box-shadow print-icon color-black ms-2" pTooltip="Bill Information"
                routerLink="/bill-info">
                info
            </span>
            <span class="material-icons box-shadow print-icon color-black ms-2" pTooltip="Reject - Release Comments"
                (click)="rejectReleasecomments=true">
                textsms
            </span>
        </div>
    </div>
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="table-header d-flex align-items-center justify-content-between nav">
                <span class="bg-cater-pink color-white p-2 rounded-pill ">
                    Invoice #
                </span>
                <div class="p-field   d-flex align-items-center ">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <span class="material-icons f-20">
                                list
                            </span>
                        </span>
                        <span class="p-float-label">
                            <p-dropdown [filter]="true" formControlName="eventType" [autoDisplayFirst]="true"
                                optionValue="id" optionLabel="type" styleClass="w-100" style="width: 250px;">
                            </p-dropdown>
                        </span>
                    </div>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger ms-2"></button>
                </div>


            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Bill Type <br>
                    Bill Item</th>
                <th class="sticky-top">Description<br>
                    Comments</th>
                <th class="sticky-top">Proposed (0)<br>
                    Actual (50)</th>
                <th class="sticky-top">Inclusive TP <br>Comm</th>
                <th class="sticky-top">Inclusive Addl Fee</th>
                <th class="sticky-top">Client</th>
                <th class="sticky-top">Discount</th>
                <th class="sticky-top">Internal</th>
                <th class="sticky-top">Margin %</th>
                <th class="sticky-top">Tax %<br>
                    Tax Amount</th>
                <th class="sticky-top">County Tax %<br>
                    County Tax Amount</th>
                <th class="sticky-top">Other Tax %<br>
                    Other Tax Amount</th>
                <th class="sticky-top">Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-text p-button p-component p-button-danger p-button-icon-only me-2"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td>
                    <textarea id="float-input" rows="1" cols="10" pInputTextarea></textarea>
                    <textarea id="float-input" rows="1" cols="10" pInputTextarea></textarea>
                </td>
                <td class="text-center">
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil" (click)="actualCost=true"
                        class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"><span
                            class="p-button-icon pi pi-info-circle" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td class="text-center">
                    <input type="text" pInputText>
                    <button pbutton="" pripple="" type="button" icon="pi pi-sitemap" (click)="displayResponsive=true"
                    class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"><span
                        class="p-button-icon pi pi-sitemap" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td>
                    <input type="text" pInputText>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td class="text-end sticky-bottom bg-grey-darker color-white">

                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    Totals
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">

                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText class="mb-1">
                    <input type="text" pInputText>
                </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">
                    <input type="text" pInputText>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="text-end">
        <p class="mb-0 AvenirLTStd-Heavy d-flex align-items-center justify-content-end pe-2">Less
            <a href="javascript:void(0)" class="d-flex align-items-center pe-3" (click)="eventCredits=true"><span
                    class="material-icons ms-2 pe-2">
                    credit_card
                </span><span class="text-underline">Credit</span></a>
            <span class="ms-5">0.00</span>
        </p>
        <p class="mb-0 AvenirLTStd-Heavy d-flex align-items-center justify-content-end pe-2">Less
            <a href="javascript:void(0)" class="d-flex align-items-center" (click)="eventCredits=true">
                <span class="material-icons ms-2">
                    local_atm
                </span>
                <span><span class="text-underline">Payments</span></span>
            </a>
            <span class="ms-5">0.00</span>
        </p>
        <p class="bg-grey-darker color-white mb-0 AvenirLTStd-Heavy px-1  pe-2"><span class="pe-5">Grand
                Total</span><span class="ms-5">0.00</span>
        </p>
    </div>
    <div class="d-flex align-items-center justify-content-between py-2 px-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
        <p-button label="Add" icon="pi pi-plus-circle" iconPos="right" styleClass="p-button-info"
            (click)="addBillservice=true"></p-button>
        <p-button label="Save" icon="pi pi-save" class="me-2" styleClass="p-button-info"></p-button>
        <p-button label="Finalize" icon="pi pi-check-circle" iconPos="right"></p-button>
    </div>
</div>


<!-- add bill service  -->
<p-dialog header="Add" [(visible)]="addBillservice" [breakpoints]="{'960px': '75vw'}" [style]="{width: '30vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        format_list_bulleted
                    </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name" styleClass="w-100"
                        class="w-100"></p-dropdown>
                    <label for="inputgroup">Bill Type
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        sell
                    </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name" styleClass="w-100"
                        class="w-100"></p-dropdown>
                    <label for="inputgroup">Bill Item
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        attach_money
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText>
                    <label for="inputgroup">Client
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        attach_money
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText>
                    <label for="inputgroup">Internal
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="2" pInputTextarea></textarea>
                    <label for="inputgroup">Description
                    </label>
                </span>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="nav justify-content-between align-items-center">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
                (click)="addBillservice=false"></button>
            <p-button label="Save" (click)="addBillservice=false" icon="pi pi-save" iconPos="left"></p-button>
        </div>
    </ng-template>
</p-dialog>

<!-- Event Credits / Payments -->
<p-dialog header="Event Credits / Payments" [(visible)]="eventCredits" [style]="{width: '60vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-table [value]="customer" styleClass="p-datatable-sm mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Type</th>
                <th class="sticky-top">Date</th>
                <th class="sticky-top">Mode</th>
                <th class="sticky-top">Amount</th>
                <th class="sticky-top">User</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="tr-data">
                <td>
                    14-04-2021 1:53 AM
                </td>
                <td>
                    14-04-2021 1:53 AM
                </td>
                <td>
                    14-04-2021 1:53 AM
                </td>
                <td>
                    1.00
                </td>
                <td>
                    14-04-2021 1:53 AM
                </td>

            </tr>
        </ng-template>
    </p-table>

    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            (click)="eventCredits=false"></button>
    </div>

</p-dialog>

<!-- Reject - Release Comments -->
<p-dialog header="Reject - Release Comments" [(visible)]="rejectReleasecomments" [style]="{width: '60vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-table [value]="customer" styleClass="p-datatable-sm mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Comments</th>
                <th class="sticky-top">Type</th>



            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="tr-data">
                <td>
                    14-04-2021 1:53 AM
                </td>
                <td>
                    14-04-2021 1:53 AM
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            (click)="rejectReleasecomments=false"></button>
    </div>

</p-dialog>

<!-- Actual Cost Details -->
<p-dialog header="Actual Cost Details" [(visible)]="actualCost" [style]="{width: '60vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-table [value]="customer" styleClass="p-datatable-sm mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Vendor</th>
                <th class="sticky-top">Vendor Invoice #</th>
                <th class="sticky-top">Bill Amount </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="tr-data">
                <td>
                    Chefs Table Kitchen
                </td>
                <td>
                    2313
                </td>
                <td>
                    17.40
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-customer>
            <tr class="tr-data">
                <td colspan="2" class="text-end sticky-bottom bg-grey-darker color-white">
                  Total :
                </td>
                <td class=" sticky-bottom bg-grey-darker color-white">
                    17.40
                </td>
              
            </tr>
        </ng-template>
    </p-table>

    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            (click)="rejectReleasecomments=false"></button>
    </div>

</p-dialog>

<!-- discount type mapping -->
<p-dialog header="Discount Type Mapping" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '30vw'}" [baseZIndex]="10000" 
    [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons  f-20">
                       list
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Bill Type

                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20">
                        local_offer
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Bill Item
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        account_tree
                        </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  class="w-100" styleClass="w-100" appendTo="body"
                    optionLabel="name"></p-dropdown>
                    <label for="inputgroup">Discount Type
                    </label>
                </span>
            </div>
        </div>

    </form>
        <ng-template pTemplate="footer">
            <div class="nav justify-content-between align-items-center">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" (click)="displayResponsive=false"></button>
                <p-button label="Save" (click)="displayResponsive=false" icon="pi pi-save" iconPos="left" ></p-button>
            </div>
        </ng-template>
</p-dialog> 