<div class="px-3 ">
    <p-table [value]="customer"   styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
         
                <th class="sticky-top">Notes</th>
                <th class="sticky-top">User</th>
                <th class="sticky-top">Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
   
         
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    superadmin
                </td>
                <td>
                    06/23/2011 02:51 PM
                </td>
       
        
            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>
        <p-button label="Add" icon="pi pi-plus-circle" iconPos="left" ></p-button>
    </div>
</div>