<div class="px-3 ">
    <p-table [value]="customer"   styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Task Name</th>
                <th class="sticky-top">Notification</th>
                <th class="sticky-top">Due Date</th>
                <th class="sticky-top">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2" (click)="showResponsiveDialog()"><span
                        class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&nbsp;</span></button>
         
                <button  pbutton="" pripple="" type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&nbsp;</span></button>
                </td>
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    1
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>
       
        
            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>
        <p-button label="Add"  icon="pi pi-plus-circle" iconPos="left" ></p-button>
    </div>
</div>

<p-dialog header="Add Task" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '30vw'}" [baseZIndex]="10000" 
    [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <!-- <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        person
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText value="administrator" disabled>
                    <label for="inputgroup">Owner
                    </label>
                </span> -->
                <h6 class="AvenirLTStd-Heavy mb-0 me-5 l-height-21"> Owner</h6>
                <p class="AvenirLTStd-Medium mb-0 color-green"> administrator</p>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        list
                        </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  class="w-100" styleClass="w-100"
                    optionLabel="name"></p-dropdown>
                    <label for="inputgroup">Assigned
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20">
                        task
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Task Name
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                        </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="2" pInputTextarea></textarea>
                    <label for="inputgroup">Description
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4 d-flex">
            <div class="p-inputgroup pe-2">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        calendar_today
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Due Date
                    </label>
                </span>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        schedule
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Due Time
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        alternate_email
                        </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText >
                    <label for="inputgroup">Notify[Email]
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        autorenew
                        </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"  class="w-100" styleClass="w-100" appendTo="body"
                    optionLabel="name"></p-dropdown>
                    <label for="inputgroup">Status
                    </label>
                </span>
            </div>
        </div>
    </form>
        <ng-template pTemplate="footer">
            <div class="nav justify-content-between align-items-center">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" (click)="displayResponsive=false"></button>
                <p-button label="Save" (click)="displayResponsive=false" icon="pi pi-save" iconPos="left" ></p-button>
            </div>
        </ng-template>
</p-dialog> 