<div
    class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center mt-2 d-flex align-items-center justify-content-center">
    <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
        01:30
        PM - 02:00 PM - Web Order - 1 Guests-HH</p>
</div>
<div class="">

    <p-table [value]="customer" styleClass="p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top" style="width: 3rem"></th>
                <th class="sticky-top">Service</th>
                <th class="sticky-top">
                    Sent Date</th>
                <th class="sticky-top">Comments</th>
                <th class="sticky-top">Status</th>
                <th class="sticky-top">Accept Date</th>
                <th class="sticky-top">Accept User</th>
                <th class="sticky-top">Accept Comments</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"
                        ><span class="p-button-icon pi pi-pencil"
                            aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>Menu</td>
                <td>
                    0.00
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </ng-template>
    </p-table>
 

</div>
<div class="nav justify-content-between align-items-center py-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <p-button label="Add" (click)="display=true" icon="pi pi-plus-circle" iconPos="left"></p-button>
</div>
<p-dialog header="Add - Change Request" [(visible)]="display" styleClass="third-party" [style]="{width: '100%'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-add-change-request></app-add-change-request>
</p-dialog>