<div class="w-100">
    <div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
        <div class="d-flex align-items-center col-md-4 col-sm-6">
            <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
        </div>
        <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">

        </div>
        <div class="col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
            <p-dropdown [options]="cities" placeholder="Select" optionLabel="name" [showClear]="true"
                styleClass="w-130"></p-dropdown>
            <input type="text" id="inputgroup" pInputText class="text-end ms-2 w-25">
            <button pButton pRipple type="button" icon="pi pi-plus"
                class="p-button-rounded p-button-success ms-2"></button>
        </div>
    </div>
    <div class="px-3 pb-3">
        <p-table [value]="customer" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">Event Begin Date</th>
                    <th class="sticky-top">Begin Time</th>
                    <th class="sticky-top">Event End Date</th>
                    <th class="sticky-top">End Time</th>
                    <th class="sticky-top">
                        <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div> Menu
                    </th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Schd</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Alc</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Bvg</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Eq</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Disp</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Cmb</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Rntl</th>
                    <th class="sticky-top"><div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>  Deco</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr class="tr-data">
                    <td>
                        <p-calendar appendTo="body"></p-calendar>
                    </td>
                    <td>
                        <p-calendar [timeOnly]="true" appendTo="body"></p-calendar>
                    </td>
                    <td>
                        <p-calendar appendTo="body"></p-calendar>
                    </td>
                    <td>
                        <p-calendar [timeOnly]="true" appendTo="body"></p-calendar>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="nav justify-content-between align-items-center  bg-white pb-2 px-3">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            ></button>
    
        <p-button label="Save"  icon="pi pi-save" iconPos="left" ></p-button>
    </div>
</div>