<div class="  mx-3 mt-3">
    <div
        class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center d-flex align-items-center justify-content-between">
        <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
            01:30
            PM - 02:00 PM - Web Order - 1 Guests-HH</p>
        <div class="d-flex align-items-center">
            <span class="material-icons box-shadow print-icon color-black ms-2">
                print
            </span>
        </div>
    </div>
    <div class="nav align-items-center">
        <p-card styleClass="p-0 fullorder-card " class="col-md-4 col-12 pe-3 my-2" *ngFor="let item of cities">
            <div class="">
                <div class="bg-cater-pink color-white d-flex align-items-center justify-content-between sticky-top">
                    <div class="d-flex">
                        <p class="AvenirLTStd-Heavy mb-0 p-2 border-end"> 1</p>
                        <p class="AvenirLTStd-Heavy mb-0 p-2"> Menu <span
                                class="AvenirLTStd-Heavy mb-0 p-1 ml-1 card-right-text"> Sent</span></p>
                    </div>
                    <div class="d-flex">
                        <span class="material-icons-outlined cursor-pointer border-start border-end p-2" (click)="show()">
                            edit
                        </span>
                        <span class="material-icons-outlined cursor-pointer border-start border-end p-2" (click)="quickView = true">
                            fullscreen
                        </span>
                        <span class="material-icons-outlined cursor-pointer border-start border-end p-2" (click)="show1()">
                            add
                        </span>
                    </div>
                </div>
                <div class="d-flex border-bottom">
                    <p class=" AvenirLTStd-Medium mt-1 ms-1 rounded  mb-1 bg-grey-darker color-white px-2">Items</p>
                </div>
                <div class="">
                    <p
                        class="mb-0 AvenirLTStd-Medium f-12 d-flex align-items-center justify-content-between px-2 py-1 border-bottom">
                        Breakfast<span class="bg-primary-g p-1">1</span></p>
                    <p
                        class="mb-0 AvenirLTStd-Medium f-12 d-flex align-items-center justify-content-between px-2 py-1 border-bottom">
                        Breakfast<span class="bg-primary-g p-1">1</span></p>
                    <p
                        class="mb-0 AvenirLTStd-Medium f-12 d-flex align-items-center justify-content-between px-2 py-1 border-bottom">
                        Breakfast<span class="bg-primary-g p-1">1</span></p>
                </div>
            </div>
        </p-card>
    </div>
</div>



<p-dialog header="Edit - Menu" [(visible)]="editStaffing" styleClass="third-party " [style]="{width: '95vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-edit-staffing></app-edit-staffing>
</p-dialog>

<!-- quick view  -->
<!-- <p-dialog header="Quick View - Menu" [(visible)]="quickView" styleClass="third-party service-tabs"
    [style]="{width: '95vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p-table [value]="customer" styleClass="p-datatable-sm staffing-item-table mt-2">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Course</th>
                <th class="sticky-top">Item Name</th>
                <th class="sticky-top">Description</th>
                <th class="sticky-top">Notes</th>
                <th class="sticky-top">Qty/Unit</th>
                <th class="sticky-top">Unit</th>
                <th class="sticky-top">Unit Price</th>
                <th class="sticky-top">Total Price</th>
                <th class="sticky-top">Temp</th>
                <th class="sticky-top">Directions for kitchen</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
            <tr class="tr-data">
                <td>
                
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil"   (click)="displayResponsive1=true"
                        class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"
                      ><span class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span
                            aria-hidden="true" class="p-button-label">&nbsp;</span></button>

                    <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    Hdvs
                </td>
                <td>
                    Pkg All Items 2 Lunch
                </td>
                <td>
                    Pkg All Items 2 Lunch
                </td>
                <td>
                    Pkg All Items 2 Lunch
                </td>
                <td>
                    500
                </td>
                <td>
                    per person
                </td>
                <td>
                    8.50
                </td>
                <td>
                    4250.00
                </td>
                <td>
                    Pkg All Items 2 Lunch
                </td>
                <td>
                    Pkg All Items 2 Lunch
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="d-flex align-items-center justify-content-between pt-2 pb-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    </div>
</p-dialog> -->

<p-dialog header="Menu" [(visible)]="displayResponsive1" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20">
                        category
                    </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name" styleClass="w-100"
                        class="w-100"></p-dropdown>
                    <label for="inputgroup">Category
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20">
                        person
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText class="">
                    <label for="inputgroup">Name
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="3" pInputTextarea></textarea>
                    <label for="inputgroup">Value
                    </label>
                </span>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="nav justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
                (click)="displayResponsive1=false"></button>
            <p-button label="Save" (click)="displayResponsive1=false" icon="pi pi-save" iconPos="left"></p-button>
        </div>
    </ng-template>
</p-dialog>

