<div [ngClass]="{'d-none':login.isActive || superadmin.isActive}" class="position-relative w-40">
  <div class="layout-wrapper">
    <div class="layout-sidebar " [ngClass]="color" (mouseover)="color='layout-sidebar-active'" (mouseout)="color=''">
      <ul class="layout-menu">
        <li class=" layout-root-menuitem ">
          <ul style="z-index: 100;">
            <li *ngFor="let item of sideBarMenu">
              <a class=" p-ripple " tabindex="0" routerLink={{item.route}} routerLinkActive="active" href="javascript:void(0)">
                <i class="material-icons layout-menuitem-icon">
                  {{item.icon}}
                </i>
                <span class="menuitem-text"><b>{{item.tooltip}}</b></span>
                <span class="p-ink"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<span style="pointer-events: none;" routerLink="/login" routerLinkActive
#login="routerLinkActive">
</span>
<span style="pointer-events: none;" routerLink="/user/switchuser" routerLinkActive
#superadmin="routerLinkActive">
</span>
