.w-40{
    width: 40px;
}
.layout-wrapper .layout-sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    left: -180px;
    top: 74px;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1025;
    background-color: #566e87;
    overflow: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgb(239 140 49), transparent),url(../../../assets/images/istockphoto-1173373272-612x612.jpg);
    background-size: 220px 100%;
    background-repeat: no-repeat;
  }
  .layout-wrapper .layout-sidebar .layout-menu {
    padding-bottom: 120px;
  }
  
  .layout-wrapper .layout-sidebar .layout-menu {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    width: 258px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li {
    padding: 4px 41px 4px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a {
    color: #9CCC65;
  }
  .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a i {
    color: #9CCC65;
  }
  .layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a i.layout-submenu-toggler {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .layout-wrapper .layout-sidebar .layout-menu li.layout-root-menuitem > .layout-menuitem-root-text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem 0 0.5rem 0.5rem;
    color: #ffffff;
    position: relative;
  }
  .layout-wrapper .layout-sidebar .layout-menu li.layout-root-menuitem > .layout-menuitem-root-text i {
    color: #ffffff;
    float: right;
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -4px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li.layout-root-menuitem > a {
    display: none;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a {
    color: #ffffff;
    display: block;
    padding: 8px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a:hover i {
    color: #ffffff;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a:focus {
    outline: transparent;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a > .menuitem-text {
    display: inline-block;
    max-width: 170px;
    word-break: break-all;
    font-family: "AvenirLTStd-Medium", sans-serif !important;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a.rotated-icon .layout-menuitem-icon {
    transform: rotate(90deg);
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a i {
    color: #ffffff;
    float: right;
    width: 18px;
    height: 18px;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a i.layout-submenu-toggler {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    right: 34px;
    display: none;
    width: 14px;
    height: 14px;
    font-size: 14px;
    margin-top: -6px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li > a .menuitem-badge {
    display: none;
    position: absolute;
    right: 54px;
    top: 50%;
    margin-top: -8px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li {
    padding: 4px 0;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li a {
    // padding-left: 10px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li a {
    padding-left: 30px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li ul li a {
    padding-left: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li ul ul li a {
    padding-left: 50px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li ul ul ul li a {
    padding-left: 60px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li ul ul ul ul li a {
    padding-left: 70px;
  }
  .layout-wrapper .layout-sidebar .layout-menu li ul li ul li ul ul ul ul ul li a {
    padding-left: 80px;
  }
  .layout-wrapper .layout-sidebar .layout-menu > li > a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .layout-wrapper .layout-sidebar .layout-menu > li > a.active-menuitem-routerlink {
    color: #9CCC65;
  }
  .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a {
    color: #ffffff;
    background-color: #7CB342;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.3), 0 7px 10px -5px rgba(60, 72, 88, 0.1);
    -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.3), 0 7px 10px -5px rgba(60, 72, 88, 0.1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.3), 0 7px 10px -5px rgba(60, 72, 88, 0.1);
  }
  .layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a i {
    color: #ffffff;
  }
  .layout-wrapper .layout-sidebar .layout-menu .menuitem-badge {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    text-align: center;
    background-color: #7CB342;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .layout-wrapper .layout-sidebar.layout-sidebar-active {
    left: 0;
  }

  .layout-wrapper .layout-sidebar.layout-sidebar-active .layout-menu li a i.layout-submenu-toggler {
    display: inline-block;
  }
  .layout-wrapper .layout-sidebar.layout-sidebar-active .layout-menu li a .menuitem-badge {
    display: inline-block;
  }
  .active{
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }

  @media(max-width:575px){
    .layout-wrapper .layout-sidebar{
      top: 140px;
    }
  }