<!-- <p>switch-user works!</p>
 -->
<div class="s-user-container">
    <p-card class="w-100">
        <ng-template pTemplate="header">
            <h2 class="AvenirLTStd-Heavy text-center mb-0">Welcome Superadmin</h2>
        </ng-template>
        <div class="text-center">
            <span class="material-icons f-10rem color-logo-pink">
                groups
            </span>
            <!-- <p class="AvenirLTStd-Book f-20">Please Select <span class="AvenirLTStd-Heavy">User</span></p> -->
            <div class="p-field   pb-3 w-md-50 w-sm-75 mx-auto">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20 ">
                            person
                            </span>
                    </span>
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false"  optionLabel="name" class="w-100" styleClass="w-100"></p-dropdown>
                        <label for="inputgroup">Please Select User
                        </label>
                    </span>
                </div>
            </div>
            <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
        </div>
    </p-card>
</div>
