<div class="fieldset mt-3 pt-0 bg-white">
    <div class="p-fluid p-grid row m-0 event-f-g">
        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        list
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText>
                    <label for="inputgroup">Service
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="1" pInputTextarea></textarea>
                    <label for="float-input">Comments</label>
                </span>
            </div>
        </div>


    </div>
</div>

<div class="mt-2">

    <!-- menu  -->
    <p-table [value]="customer" styleClass="p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Menu Item</th>
                <th class="sticky-top">
                    Course</th>
                <th class="sticky-top">Description</th>
                <th class="sticky-top">Add/Deduct</th>
                <th class="sticky-top">Quantity</th>
                <th class="sticky-top">Price</th>
                <th class="sticky-top">Unit</th>
                <th class="sticky-top">Directions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>Menu</td>
                <td>
                    0.00
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- beverage  -->
    <p-table [value]="customer" styleClass="p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top" style="width: 3rem"></th>
                <th class="sticky-top">Item Name</th>
                <th class="sticky-top">
                    Add/Deduct</th>
                <th class="sticky-top">Quantity</th>
                <th class="sticky-top">Price</th>
                <th class="sticky-top">Comments</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>Menu</td>
                <td>
                    0.00
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- disposables  -->
    <p-table [value]="customer" styleClass="p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top" style="width: 3rem"></th>
                <th class="sticky-top">Item Name</th>
                <th class="sticky-top">
                    Add/Deduct</th>
                <th class="sticky-top">Quantity</th>
                <th class="sticky-top">Price</th>
                <th class="sticky-top">Comments</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>Menu</td>
                <td>
                    0.00
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="nav justify-content-between align-items-center py-2 sticky-bottom bg-white">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <p-button label="Add Items" icon="pi pi-plus-circle" iconPos="left" class="p-button-info" (click)="addItems=true">
    </p-button>
    <button pButton pRipple type="button" icon="pi pi-save" label="Save"></button>
    <p-button label="Send" icon="pi pi-send" iconPos="left"></p-button>
</div>


<p-dialog [(visible)]="addItems" styleClass="common-dialog-height md" [style]="{width: '95vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-tabView [activeIndex]="" styleClass="tabview-custom p-0">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="material-icons-round me-2 f-20">
                    menu_book
                </i>
                <span>Current Menu</span>
            </ng-template>
            <div class="mt-2">
                <p-table [value]="customer" styleClass="p-datatable-sm ">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="sticky-top"></th>
                            <th class="sticky-top">Course</th>
                            <th class="sticky-top">
                                Name</th>
                            <th class="sticky-top">Ordered Quantity </th>
                            <th class="sticky-top">Quantity </th>
                            <th class="sticky-top">Price</th>

                            <th class="sticky-top">Unit</th>
                            <th class="sticky-top">Directions</th>
                            <th class="sticky-top">Add / Deduct</th>
                            <th class="sticky-top">Description</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                        <tr class="tr-data">
                            <td>
                            </td>
                            <td>Menu</td>
                            <td>
                                0.00
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>
                                <p-dropdown appendTo="body" [filter]="true" inputId="dropdown"
                                    [autoDisplayFirst]="false" styleClass="h-27 w-100" [options]="" optionLabel="name">
                                </p-dropdown>
                            </td>
                            <td class="mn-w-200">
                                <textarea pInputTextarea cols="1" rows="1" class="w-100"></textarea>
                            </td>
                            <td>
                                <p-dropdown appendTo="body" [filter]="true" inputId="dropdown"
                                    [autoDisplayFirst]="false" styleClass="h-27 w-100" [options]="" optionLabel="name">
                                </p-dropdown>
                            </td>
                            <td class="mn-w-200">
                                <textarea pInputTextarea cols="1" rows="1" class="w-100"></textarea>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="nav justify-content-between align-items-center py-2 sticky-bottom bg-white">
                    <button pButton pRipple type="button" icon="pi pi-times" label="Close"
                        class="p-button-danger"></button>
                    <button pButton pRipple type="button" icon="pi pi-save" label="Save"></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Contact">
            <ng-template pTemplate="header">
                <span class="material-icons-round me-2 f-20">
                    add_circle_outline
                </span>
                <span>Add Standard Items</span>
            </ng-template>
            <app-add-standard-items></app-add-standard-items>
        </p-tabPanel>

    </p-tabView>
</p-dialog>