<div class="px-3 pb-3 mt-3">
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Updated On</th>
                <th class="sticky-top">Updated By</th>
                <th class="sticky-top">Begin Time</th>
                <th class="sticky-top">End Time</th>
                <th class="sticky-top">Guest Count</th>
                <th class="sticky-top">Status</th>
                <th class="sticky-top">Location</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="tr-data">
            <td>
                <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2" ><span
                    class="p-button-icon pi pi-info-circle" aria-hidden="true"></span><span aria-hidden="true"
                    class="p-button-label">&nbsp;</span></button>
            </td>
             <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="nav justify-content-between align-items-center  bg-white pb-2 px-3">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
        ></button>
    <!-- <p-button label="Save"  icon="pi pi-save" iconPos="left" ></p-button> -->
</div>