<div class="customer-tabs m-3">
  <p-tabView [activeIndex]="0" styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="material-icons-round me-2 f-20">
          filter
        </i>
        <span>Filter Preference</span>
      </ng-template>
      <div class="fieldset mt-3 px-2">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Filter Preference</h5>
          </div>
        </div>
        <div class="row ">
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4 position-relative">
            <label class="float-item">Filter Default Start & End Dates</label>
          <div class="d-flex align-items-center ">
            <div class="p-inputgroup pe-2 align-items-center">
              <label for="inputgroup " class=" pe-2">Past</label>
              <span class="p-float-label ">
                <input [(ngModel)]="pastVal" type="text" id="inputgroup" pInputText
                pTooltip="Default date range for the Event Filter in reference to today's date." class="text-end" value="0" >

              </span>

            </div>
            <div class="p-inputgroup  align-items-center">
              <label for="inputgroup" class=" pe-2">Next
              </label>
              <span class="p-float-label">
                <input type="text" [(ngModel)]="nextVal" id="inputgroup" pInputText
                pTooltip="Default date range for the Event Filter in reference to today's date."  class="text-end" value="999">

              </span>

            </div>
            <label class=" ps-2 AvenirLTStd-Medium">Days</label>
          </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  event
                </span>
              </span>
              <span class="p-float-label">
                <p-inputNumber inputId="integeronly" class="me-2 text-end"  [(ngModel)]="eventCode" pTooltip="Default Event # selection for the Event Filter."></p-inputNumber>
                    <label for="inputgroup">Event #
                </label>
              </span>
            </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  perm_identity
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" [(ngModel)]="customerName" id="inputgroup" pInputText
                  pTooltip="Default Customer Name selection for the Event Filter.">
                <label for="inputgroup">Customer Name
                </label>
              </span>
            </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  manage_accounts
                </span>
              </span>
              <span class="p-float-label">
                <p-multiSelect [(ngModel)]="accountExecutives" selectedItemsLabel="{0} items selected" [maxSelectedLabels]="1" inputId="multiselect" [options]="filterPrefernceResponse?.accountExecutiveList" optionValue="id" optionLabel="name" [filter]="true"
                  styleClass="w-100" class="w-100" pTooltip="Default Account Executive selection for the Event Filter.">
                </p-multiSelect>
                <label for="inputgroup">Account Executive
                </label>
              </span>
            </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  account_tree
                </span>
              </span>
              <span class="p-float-label">
                <p-multiSelect [(ngModel)]="businessunits" selectedItemsLabel="{0} items selected" inputId="multiselect" [options]="filterPrefernceResponse?.businessUnitsList" optionValue="id" optionLabel="name" [filter]="true"
                  styleClass="w-100" class="w-100" pTooltip="Default Business Unit selection for the Event Filter.">
                </p-multiSelect>
                <label for="inputgroup">Business Units
                </label>
              </span>
            </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  autorenew
                </span>
              </span>
              <span class="p-float-label">
                <p-multiSelect [(ngModel)]="partyStatus" selectedItemsLabel="{0} items selected" inputId="multiselect" [options]="filterPrefernceResponse?.partyStatusList" optionValue="id" optionLabel="status" [filter]="true"
                  styleClass="w-100" class="w-100" pTooltip="Default Event Status selection for the Event Filter.">
                </p-multiSelect>
                <label for="inputgroup">Event Status
                </label>
              </span>
            </div>

          </div>
          <div class="p-field col-md-4 col-lg-3 col-lg-3 col-sm-6 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  restaurant
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [options]="filterPrefernceResponse?.eventTypeList" [autoDisplayFirst]="false" class="w-100"
                  styleClass="w-100" [(ngModel)]="eventType" optionValue="id" optionLabel="type" pTooltip="Default Event Type selection for the Event Filter.">
                </p-dropdown>
                <label for="inputgroup">Event Type
                </label>
              </span>
            </div>

          </div>

        </div>
      </div>
      <div class="pt-4 px-2">
        <div class="nav justify-content-between align-items-center">
          <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
          <p-button (click)="saveFilterPreference()" label="Save" icon="pi pi-save" iconPos="left"></p-button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="material-icons-round me-2 f-20">
          supervised_user_circle
        </i>
        <span>User Preferences</span>
      </ng-template>

      <div class="fieldset mt-3 px-2">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Default Info</h5>
          </div>
        </div>
        <div class="row ">
          <div class="p-field col-md-4 col-lg-3 col-12  pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  autorenew
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [(ngModel)]="userEventStatusId" [options]="userPrefernceResponse?.partyStatusList" optionValue="id" optionLabel="status" [autoDisplayFirst]="false" class="w-100"
                  styleClass="w-100" ></p-dropdown>
                <label for="inputgroup">Status
                </label>
              </span>
            </div>
          </div>
          <div class="p-field col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  event
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [(ngModel)]="userEventTypeId" [options]="userPrefernceResponse?.eventTypeList" optionValue="id" optionLabel="type" [autoDisplayFirst]="false" class="w-100"
                  styleClass="w-100" ></p-dropdown>
                <label for="inputgroup">Event Type
                </label>
              </span>
            </div>
          </div>
          <div class="p-field col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  place
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [(ngModel)]="userCountyId" [options]="userPrefernceResponse?.countyList" optionLabel="name" optionValue="id" [autoDisplayFirst]="false" class="w-100"
                  styleClass="w-100" ></p-dropdown>
                <label for="inputgroup">County
                </label>
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="fieldset mt-3 px-2">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Language</h5>
          </div>
        </div>
        <div class="row">
          <div class="p-field col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  translate
                </span>

              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" optionValue="id" [(ngModel)]="languageId" [options]="userPrefernceResponse?.languagesList" [autoDisplayFirst]="false" class="w-100"
                  styleClass="w-100" optionLabel="name"></p-dropdown>
                <label for="inputgroup">Language
                </label>
              </span>
            </div>
          </div>

        </div>
      </div>


      <div class="pt-4 px-2">
        <div class="nav justify-content-between align-items-center">
          <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
          <p-button (click)="saveUserPreferences()" label="Save" icon="pi pi-save" iconPos="left"></p-button>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
