<div
    class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center mt-2 d-flex align-items-center justify-content-between">
    <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
        01:30
        PM - 02:00 PM - Web Order - 1 Guests-HH</p>
    <div class="d-flex align-items-center">
        <span class="material-icons box-shadow print-icon color-black ms-2" (click)="showd()" pTooltip="Additional Fees">

            fullscreen

        </span>
        <span class="material-icons box-shadow print-icon color-black ms-2" (click)="show()" pTooltip="Event Third Party Payee">

            sync_alt

        </span>
        <span class="material-icons box-shadow print-icon color-black ms-2" >
            print
        </span>
    </div>

</div>
<div class="mt-2">
    <p-table [value]="customer" styleClass="p-datatable-sm ">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top" >
                    <div class="form-check form-check-inline me-0 form-checkbox">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"></label>
                  </div></th>
                <th class="sticky-top"></th>
                <th class="sticky-top">
                    Description</th>
                <th class="sticky-top">Suggested Price</th>
                <th class="sticky-top">Proposed Revenue</th>
                <th class="sticky-top">PP Revenue</th>
                <th class="sticky-top">Discount</th>
                <th class="sticky-top">Minimum Margin %</th>
                <th class="sticky-top">Actual Margin %</th>
                <th class="sticky-top">Tax</th>
                <th class="sticky-top">Inclusive TP Comm</th>
                <th class="sticky-top">Inclusive Addl Fee</th>
                <th class="sticky-top">Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="tr-data">
                <td >
                    <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                </td>
                <td>Menu</td>
                <td>
                    <input type="text" pInputText>
                </td>
                <td>
                    0.00
                </td>
                <td>
                    <input type="text" pInputText class="mxw-100">
                </td>
                <td>
                    <input type="text" pInputText class="mxw-100">
                </td>
                <td>
                    <input type="text" pInputText class="mxw-100">
                </td>
                <td>100</td>
                <td>
                    <input type="text" pInputText class="mxw-100">
                </td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td class="text-end sticky-bottom bg-grey-darker color-white"> </td>
                <td class="text-end sticky-bottom bg-grey-darker color-white">Total</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="text-end sticky-bottom bg-grey-darker color-white"></td>
                <td class="text-end sticky-bottom bg-grey-darker color-white"></td>
                <td class="text-end sticky-bottom bg-grey-darker color-white"></td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
                <td class="p-text-right sticky-bottom bg-grey-darker color-white">24.95</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="fieldset mt-3 pt-0">
        <div class="p-fluid p-grid row m-0 event-f-g">
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            credit_card
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Credit Card Type
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            %
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Credit Card Fee%
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            monetization_on
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Credit Card Fee Amount
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<p-dialog header="Event Third Party Payee" [(visible)]="display" styleClass="third-party" [style]="{width: '60vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-event-third-party></app-event-third-party>
</p-dialog>
<p-dialog header="Additional Fees" [(visible)]="display1" styleClass="" [style]="{width: '60vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-additional-fees></app-additional-fees>
</p-dialog>