<div class="customer-tabs m-3">
  <p-tabView (onChange)="onTabChange($event)" [activeIndex]="currentindex" styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template  pTemplate="header">
        <i class="material-icons-round me-2 f-20">
          person
        </i>
        <span>Customer</span>
      </ng-template>
      <app-ce-customer *ngIf="currentindex==0"></app-ce-customer>
    </p-tabPanel>
    <p-tabPanel header="Contact">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          contact_page
        </span>
        <span>Contact</span>
      </ng-template>
      <app-contact *ngIf="currentindex==1"></app-contact>
    </p-tabPanel>
    <p-tabPanel header="Event">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          event
        </span>
        <span>Event</span>
      </ng-template>
      <app-event *ngIf="currentindex==2"></app-event>
    </p-tabPanel>
    <p-tabPanel header="Tax Exempt">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          paid
        </span>
        <span>Tax Exempt</span>
      </ng-template>
      <app-tax-exempt *ngIf="currentindex==3"></app-tax-exempt>
    </p-tabPanel>
    <p-tabPanel header="Preferences">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          grade
        </span>
        <span>Preferences</span>
      </ng-template>
      <app-preferences *ngIf="currentindex==4"></app-preferences>
    </p-tabPanel>
    <p-tabPanel header="Notes">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          notes
        </span>
        <span>Notes</span>
      </ng-template>
      <app-notes *ngIf="currentindex==5"></app-notes>
    </p-tabPanel>
    <p-tabPanel header="Tasks">
      <ng-template pTemplate="header">
        <span class="material-icons-round me-2 f-20">
          task
        </span>
        <span>Tasks</span>
      </ng-template>
      <app-tasks *ngIf="currentindex==6"></app-tasks>
    </p-tabPanel>
  </p-tabView>
</div>
