<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input" placeholder="Search Event#" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
    </div>
</div>



<div class="px-3 pb-3 ">
    <p-table [value]="customer"   styleClass="p-datatable-sm approval-table" sortMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Event # <p-sortIcon field="event"></p-sortIcon></th>
                <th class="sticky-top">Constraint <p-sortIcon field="Constraint"></p-sortIcon></th>
                <th class="sticky-top">Status <p-sortIcon field="Status"></p-sortIcon></th>
                <th class="sticky-top">Event Date <p-sortIcon field="Event Date"></p-sortIcon></th>
                <th class="sticky-top">Requested On <p-sortIcon field="Requested On"></p-sortIcon></th>
                <th class="sticky-top">Requested By <p-sortIcon field="Requested By"></p-sortIcon></th>
                <th class="sticky-top">Request Comments</th>
    
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
           
            <tr class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2" ><span
                            class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
             
                    <button  pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    1
                </td>
                <td>
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>
                <td>
                    Web Order
                </td>
                <td>
                    1
                </td>
                <td>
                    DEF
                </td>
               
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="nav justify-content-between align-items-center mt-2 pb-2 px-3">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    
</div>




<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="d-flex align-items-center justify-content-between mb-4 mx-3">
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                <label for="ny" class="mx-2">Pending</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="San Francisco" inputId="sf"></p-checkbox>
                <label for="sf" class="mx-2">Approved</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="Los Angeles" inputId="la"></p-checkbox>
                <label for="la" class="mx-2">Rejected</label>
            </div>
        </div>
     
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>