<!-- <p>event-timeline works!</p> -->
<div class="mx-3 mt-2 d-flex align-items-center justify-content-end" >
    <input type="text" id="inputgroup" pInputText class="text-end">
    <p-button icon="pi pi-plus"></p-button>
</div>


<div class="mx-3">
    <div
        class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center mt-2 d-flex align-items-center justify-content-between ">
        <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
            01:30
            PM - 02:00 PM - Web Order - 1 Guests-HH</p>
        <div class="d-flex align-items-center">

            <span class="material-icons box-shadow print-icon color-black ms-2">
                print
            </span>
        </div>

    </div>
    <div class="">
        <p-table [value]="customer" styleClass="p-datatable-sm timeline-table">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                       
                    </th>
                    <th class="sticky-top">Date </th>
                    <th class="sticky-top">
                       Time <p-sortIcon field="time"></p-sortIcon></th>
                    <th class="sticky-top">Description</th>
                    <th class="sticky-top">Print To Customer </th>
            
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="tr-data" [pSelectableRow]="customer">
                    <td>
                        <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"><span
                                class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                                class="p-button-label">&nbsp;</span></button>
                                <button  pbutton="" pripple="" type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                                    class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                                    class="p-button-label">&nbsp;</span></button>
                    </td>
               
                    <td>
                        <p-calendar inputId="timeonly" placeholder="Time"></p-calendar>
                    </td>
                    <td>  <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Time"></p-calendar></td>
                    <td>    <textarea id="float-input" rows="1" cols="70" pInputTextarea></textarea></td>
                    <td> <div class="form-check form-check-inline me-0 form-checkbox">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div></td>
           
                </tr>
            </ng-template>

        </p-table>

    </div>
    <div class="nav justify-content-between align-items-center py-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            ></button>
        <p-button label="Save" iconPos="left" icon="pi pi-save" ></p-button>
    </div>
</div>