<!-- menu  -->
<!-- <div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Menu Item Name"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </th>
                    <th class="sticky-top">Course</th>
                    <th class="sticky-top">Menu Item</th>
                    <th class="sticky-top">Description</th>
                    <th class="sticky-top">Quantity</th>
                    <th class="sticky-top">Price</th>
                    <th class="sticky-top">Unit</th>
                    <th class="sticky-top">Notes</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="bg-orange" *ngIf="rowIndex%3==0">
                    <td colspan="15">
                        <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                    </td>
                </tr>
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </td>
                    <td>
                        <p-dropdown appendTo="body" [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                            [options]="" optionLabel="name" styleClass="w-250px h-27"></p-dropdown>
                    </td>
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        wrapped in jicama with mango, wasabi & five spice citrus sauce
                    </td>
                    <td>
                        <input type="text" id="inputgroup" pInputText class="text-end w-101px" value="20">
                    </td>
                    <td>
                        4.00
                    </td>
                    <td>
                        <p-dropdown appendTo="body" [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                            [options]="" optionLabel="name" styleClass="w-101px h-27"></p-dropdown>
                    </td>
                    <td>
                        nsi
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button pButton pRipple type="button" icon="pi pi-times" label="Close"
        class="p-button-danger position-btn l-0"></button>
    <p-button label="Save" icon="pi pi-save" class="me-2 position-btn r-0"></p-button>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="d-flex align-items-center justify-content-between px-3">
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="Chicago" class="me-2" inputId="city1"></p-radioButton>
                <label for="city1">Search Database</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="Chicago" class="me-2" inputId="city1"></p-radioButton>
                <label for="city1">Search Events</label>
            </div>
        </div>
        <div class="p-fluid p-grid row m-0" *ngIf="false">
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Menu Category</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Menu SubCategory</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Menu Type</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Temperature</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Menu Item</label>
                </span>
            </div>
            <div class="p-field col-12 col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <textarea pInputTextarea cols="1" rows="1"></textarea>
                    <label for="inputtext">Description</label>
                </span>
            </div>
        </div>
        <div class="p-fluid p-grid row m-0" *ngIf="true">
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-calendar></p-calendar>
                    <label for="dropdown">Start Date</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-calendar></p-calendar>
                    <label for="dropdown">End Date</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="dropdown">Event #</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">AE</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <textarea pInputTextarea cols="1" rows="1"></textarea>
                    <label for="dropdown">Menu Item</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <textarea pInputTextarea cols="1" rows="1"></textarea>
                    <label for="dropdown">Description</label>
                </span>
            </div>
        
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel> -->

<!-- collection -->
<!-- <div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Name"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </th>
                    <th class="sticky-top">Course</th>
                    <th class="sticky-top">Menu Item</th>
              
                    <th class="sticky-top">Quantity</th>
                 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                <tr class="bg-orange" *ngIf="rowIndex%3==0">
                    <td colspan="15">
                        <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                    </td>
                </tr>
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                        </div>
                    </td>
             
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        wrapped in jicama with mango, wasabi & five spice citrus sauce
                    </td>
               
                    <td>
                        4.00
                    </td>
            
                </tr>
            </ng-template>
            
        </p-table>
        
    </div>
    <button pButton pRipple type="button" icon="pi pi-times" label="Close"
        class="p-button-danger position-btn l-0"></button>
    <p-button label="Save" icon="pi pi-save" class="me-2 position-btn r-0"></p-button>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" *ngIf="false">
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-multiSelect inputId="multiselect" [options]="cities" optionLabel="name" [filter]="true">
                    </p-multiSelect>
                    <label for="dropdown">Menu Category</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Name</label>
                </span>
            </div>
      
        </div>
     
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel> -->

<!-- Package -->
<!-- <div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Package"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                
                    <th class="sticky-top">Package</th>
                    <th class="sticky-top">Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        wrapped in jicama with mango, wasabi & five spice citrus sauce
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
 
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown appendTo="body" [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                            [options]="" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Category</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Package</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel> -->

<!-- combo -->
<div class="position-relative">
    <div class=" pb-2  d-flex align-items-center justify-content-center  filter-section">
        <div class="form-group col-6 p-0 d-flex align-items-center">
            <div class="input-group ">
                <input type="search" class="form-control search-input" placeholder="Search Combo"
                    aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
                <div class="search-icon">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
            <span class="material-icons pe-3" (click)="op.toggle($event)">
                filter_alt
            </span>
        </div>
    </div>
    <div class="">
        <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                
                    <th class="sticky-top">Combo</th>
                    <th class="sticky-top">Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                <tr [pSelectableRow]="customer" class="tr-data">
                    <td>
                        Ahi Tuna Roll
                        [ AHI TUNA ROLL ]
                    </td>
                    <td>
                        wrapped in jicama with mango, wasabi & five spice citrus sauce
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- <button pButton pRipple type="button" icon="pi pi-times" label="Close"
        class="p-button-danger position-btn l-0"></button>
    <p-button label="Save" icon="pi pi-save" class="me-2 position-btn r-0"></p-button> -->
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>

        <div class="p-fluid p-grid row m-0" >
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <span class="p-float-label">
                    <p-dropdown appendTo="body" [filter]="true" inputId="dropdown" [autoDisplayFirst]="false"
                    [options]="" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Category</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Combo</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 ps-3">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>
