<div class="px-3 ">
    <p-table [value]="customer"   styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Event#</th>
                <th class="sticky-top">Event Name</th>
                <th class="sticky-top">Event Date</th>
                <th class="sticky-top">AE</th>
                <th class="sticky-top">Event Type</th>
                <th class="sticky-top">Guests</th>
                <th class="sticky-top">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
                <td>
                    <button [routerLink]="['/createevent']"  pbutton="" pTooltip="Edit Event" pripple="" type="button"
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button p-component p-button-icon-only "><span
                        class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    1
                </td>
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>
                <td>
                    HH
                </td>

            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>

    </div>
</div>
