<div class="px-3 ">
    <p-table [value]="customer"   styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">State</th>
                <th class="sticky-top">Tax Exempt</th>
                <th class="sticky-top">Tax ID</th>
   
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
          
    
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>
       
        
            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>
     
    </div>
</div>