<div class="fieldset mt-3">
    <div class="legend">
        <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white"> Sales Lite</h5>
        </div>
    </div>
    <div class="p-fluid p-grid row m-0 event-f-g">

        <div class="p-field   col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        description
                    </span>
                </span>
                <span class="p-float-label">
                    <p-multiSelect inputId="multiselect" [options]="" optionLabel="name"    [filter]="true" appendTo="body" styleClass=""
                        styleClass="w-100" class="w-100">
                    </p-multiSelect>
                    <label for="inputgroup">Cover Page

                    </label>
                </span>
            </div>
        </div>
    </div>

</div>
<div class="nav justify-content-between align-items-center sticky-bottom bg-white mt-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
        ></button>
    <p-button label="Print"  icon="pi pi-print" iconPos="left" ></p-button>
</div>