<!-- <p>event-gallery works!</p> -->
<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input" placeholder="Search File Name" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>

    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">

    </div>
</div>
<div class="mx-3">
    <div
        class=" bg-grey-darker color-white py-2 px-3 border-bottom text-center mt-2 d-flex align-items-center justify-content-center ">
        <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
            01:30
            PM - 02:00 PM - Web Order - 1 Guests-HH</p>
    </div>
    <div class="nav">
        <p-card [style]="{'max-width': '17vw', 'margin': '10px'}" >
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/bg-1.jpg">
            </ng-template>
            <div class="d-flex align-items-center justify-content-between">
                <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"
                    (click)="show()"><span class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span
                        aria-hidden="true" class="p-button-label">&nbsp;</span></button>
    
    
                <p class="AvenirLTStd-Heavy f-16 mb-0 text-center">Test</p>
    
                <button pbutton="" pripple="" type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                        class="p-button-label">&nbsp;</span></button>
            </div>
    
        </p-card>
    </div>

</div>
<div class="nav justify-content-between align-items-center justify-content-between px-4 py-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
        (click)="displayResponsive=false"></button>
    <p-button label="Save" (click)="displayResponsive=true" icon="pi pi-save" iconPos="left"></p-button>
</div>

<p-dialog header="Edit/Add - Gallery Item" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '40vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20">
                        person
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputgroup" pInputText>
                    <label for="inputgroup">Name
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="2" pInputTextarea></textarea>
                    <label for="inputgroup">Comments
                    </label>
                </span>
            </div>
        </div>
        <div class="pt-3">
           
            <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" accept="image/*">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>

    </form>
    <ng-template pTemplate="footer">
        <!-- <p-button  label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="displayResponsive=false" label="Yes" styleClass="p-button-text"></p-button> -->
        <div class="nav justify-content-between align-items-center">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
                (click)="displayResponsive=false"></button>
            <p-button label="Save" (click)="displayResponsive=false" (onUpload)="onUpload($event)" icon="pi pi-save" iconPos="left"></p-button>
        </div>
    </ng-template>
</p-dialog>