<div class="customer-container">
    <p-card>
        <ng-template pTemplate="header" class="mx-3 pt-3">

            <ul class="timeline m-0 p-0 w-100 d-flex align-items-center" id="timeline">
                <li class="li timeline-item " [ngClass]="{'complete': tabIndex === 0, 'visited': tabIndex > 0 }"
                    (click)="tabIndex=0">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon "><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper beta-group label-text">Customer & Contact Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 1, 'visited': tabIndex > 1}"
                    (click)="tabIndex=1">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Event Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 2, 'visited': tabIndex > 2}"
                    (click)="tabIndex=2">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Location Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 3, 'visited': tabIndex > 3}"
                    (click)="tabIndex=3">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Cover & Title Page Information</h6>
                    </div>
                </li>
            </ul>
        </ng-template>
        <ng-container *ngIf="tabIndex === 0">
            <div class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy mb-0 px-2  bg-white">Customer & Contact Information</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Customer Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">PrpslCntHomePhone

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Street

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Suite

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact City

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact State

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Zip

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Email

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Phone

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Mobile

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Dear Name

                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <p-button label="Refresh" icon="pi pi-refresh" iconPos="left"></p-button>
                <div class="">
                    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 1">
            <div class="fieldset">
                <div class="legend">
                    <div class=" d-flex align-items-center justify-content-between px-2 ">
                        <h5 class="AvenirLTStd-Heavy mb-0 bg-white px-2">Event Information</h5>
                    </div>
                </div>


                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event Start Date
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event Start Time
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event End Date
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event End Time

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Guest Count
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Other Guests
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Event Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Event Type
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Band Count

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Estimated $/Person
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Misc Count
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Staff Count
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <p-button label="Refresh" icon="pi pi-refresh" iconPos="left"></p-button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex ===2">
            <div class="fieldset">
                <div class="legend">
                    <div class=" d-flex align-items-center justify-content-between px-2 ">
                        <h5 class="AvenirLTStd-Heavy mb-0 bg-white px-2">Location Information</h5>
                    </div>
                </div>


                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location Street
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location Suite
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location City

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location State
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Location Zip
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Location Phone
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <p-button label="Refresh" icon="pi pi-refresh" iconPos="left"></p-button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex ===3">
            <div class="fieldset">
                <div class="legend">
                    <div class=" d-flex align-items-center justify-content-between px-2 ">
                        <h5 class="AvenirLTStd-Heavy mb-0 bg-white px-2">Cover & Title Page Information</h5>
                    </div>
                </div>


                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Account Executive (s)
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    format_size
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Contact Phone
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Menu Intro
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Cover/Title Text

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Presentation Details
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Drop Off/Set Up Details

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Special Concerns
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span>
                            <span class="p-float-label">
                                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                                <label for="inputgroup">Event Details
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-2">
                        <label for="inputgroup">Image
                        </label> 
                        <div class="p-inputgroup">
                            <!-- <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    chat
                                </span>
                            </span> -->
                            <span class="p-float-label">
                                <input type="file" id="inputgroup" pInputText>
                                <!-- -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <p-button label="Refresh" icon="pi pi-refresh" iconPos="left"></p-button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
                </div>

            </div>
        </ng-container>
    </p-card>
</div>