<div class="fieldset mt-3">
    <div class="legend">
        <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white"> Service Type</h5>
        </div>
    </div>
    <div class="p-fluid p-grid row m-0 event-f-g">
        <div class="p-field col-md-4  col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        list
                    </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="" optionLabel="name">
                    </p-dropdown>
                    <label for="inputgroup">Drop/Full Svc
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field col-md-4  col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        description
                    </span>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputgroup">Menu Field
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field col-md-4  col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        list
                    </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="" optionLabel="name">
                    </p-dropdown>
                    <label for="inputgroup">Bev Service
                    </label>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="fieldset mt-3">
    <div class="legend">
        <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white">Production Details</h5>
        </div>
    </div>
    <div class="p-fluid p-grid row m-0 event-f-g">
        <div class="p-field col-md-4  col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        list
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea inputId="textarea" rows="3"  cols="30"  pInputTextarea></textarea>
                    <label for="inputgroup">Table Count
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field col-md-4  col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        description
                    </span>
                </span>
                <span class="p-float-label">
                    <textarea inputId="textarea" rows="3"  cols="30" pInputTextarea></textarea>
                    <label for="inputgroup">
                        Buffet Info
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field col-md-2  col-12 pt-4">
            <label for="inputgroup">Buffet
            </label>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-inputSwitch ></p-inputSwitch>
                
                </span>
            </div>
        </div>
        <div class="p-field col-md-2  col-12 pt-4">
            <label for="inputgroup">Plated
            </label>
            <div class="p-inputgroup">
              
                <span class="p-float-label">
                    <p-inputSwitch ></p-inputSwitch>
                 
                </span>
            </div>
        </div>
        <div class="p-field col-md-2  col-12 pt-4">
            <label for="inputgroup">Butler/French Svc
            </label>
            <div class="p-inputgroup">
            
                <span class="p-float-label">
                    <p-inputSwitch ></p-inputSwitch>
            
                </span>
            </div>
        </div>
        <div class="p-field col-md-2  col-12 pt-4">
            <label for="inputgroup">Mixed
            </label>
            <div class="p-inputgroup">
             
                <span class="p-float-label">
                    <p-inputSwitch ></p-inputSwitch>
                
                </span>
            </div>
        </div>
    </div>
</div>
<div class="nav justify-content-between align-items-center sticky-bottom bg-white mt-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <p-button label="Print" icon="pi pi-print" iconPos="left"></p-button>
</div>