<!-- <p>calllog works!</p> -->
<div class="mx-4 bg-white p-3 mt-4">
    <div class="fieldset  ">
        <div class="legend ">
            <div class="d-flex">
                <h5 class="AvenirLTStd-Heavy mb-0  px-2 bg-white">Log Call</h5>
            </div>
        </div>
        <div class="p-fluid p-grid row m-0 event-f-g">
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            person
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Customer Name/ Lead Name
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-outlined f-20">
                            person
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Contact Name
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            tag
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Event #
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4 position-relative">
                <label for="inputgroup" class="float-item">Date & Time
                </label>
                <div class="d-flex align-items-center">
                  <div class="p-inputgroup pe-2">
                    <span class="p-inputgroup-addon ">
                      <span class="material-icons-round f-20">
                        calendar_today
                      </span>
                    </span>
                    <span class="p-float-label ">
                      <p-calendar placeholder="Date"></p-calendar>
                    </span>
                  </div>
                  <div class="p-inputgroup  ">
                    <span class="p-inputgroup-addon">
                      <span class="material-icons-round f-20">
                        schedule
                      </span>
                    </span>
                    <span class="p-float-label">
                      <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Time"></p-calendar>
                    </span>
                  </div>
                </div>
              </div>
              <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            chat
                            </span>
                    </span>
                    <span class="p-float-label">
                        <textarea id="float-input" rows="2" pInputTextarea></textarea>
                        <label for="float-input">Comments</label>
                    </span>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="nav justify-content-between align-items-center mt-2 px-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
        <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
    </div>
</div>
