<!-- <p>edit-event-order works!</p> -->
<div class="position-relative">


    <div class="fieldset mt-3 pt-0">
        <div class="p-fluid p-grid row m-0 event-f-g">
            <div class="p-field   col-md-4 col-lg-6 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            chat
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Name
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4 position-relative">

                <div class="d-flex align-items-center">
                    <div class="p-inputgroup pe-2">
                        <span class="p-inputgroup-addon ">
                            <span class="material-icons-round f-20">
                                production_quantity_limits
                            </span>
                        </span>
                        <span class="p-float-label ">
                            <input type="text" id="inputgroup" pInputText class="text-end">
                            <label for="inputgroup">Quantity
                            </label>
                        </span>
                    </div>
                    <div class="p-inputgroup  ">
                        <span class="p-inputgroup-addon">
                            <span class="material-icons-round f-20">
                                attach_money
                            </span>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="inputgroup" pInputText class="text-end">
                            <label for="inputgroup">Price
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            format_list_bulleted
                        </span>
                    </span>
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Course For Menu
                        </label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            chat
                        </span>
                    </span>
                    <span class="p-float-label">
                        <textarea id="float-input" rows="2" pInputTextarea></textarea>
                        <label for="float-input">Comments</label>
                    </span>
                </div>
            </div>
            <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="material-icons-round f-20">
                            explore
                        </span>
                    </span>
                    <span class="p-float-label">
                        <textarea id="float-input" rows="2" pInputTextarea></textarea>
                        <label for="float-input">Directions</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <p-table [value]="customer" styleClass="p-datatable-sm ">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                        Item</th>
                    <th class="sticky-top">Quantity</th>
                    <th class="sticky-top">Comments</th>
                    <th class="sticky-top">Directions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="tr-data">
                    <td>
                        <input type="text" pInputText>
                    </td>
                    <td>
                        <input type="text" pInputText>
                    </td>
                    <td>
                        <textarea rows="1" pInputTextarea></textarea>
                    </td>
                    <td>
                        <textarea rows="1" pInputTextarea></textarea>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>