<div class="row align-items-center">

    <div class="p-field col-lg-4 col-md-3 col-12   pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                    list
                </span>
            </span>
            <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"
                    styleClass="w-100" class="w-100"></p-dropdown>
                <label for="inputgroup">Additional FeeType
                </label>
            </span>
        </div>
    </div>
    <div class="p-field col-lg-4 col-md-3 col-12 pt-4">
        <div class="p-inputgroup justify-content-between">
            <h5>Include</h5>
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="Chicago" inputId="city1"></p-radioButton>
                <label for="city1" class="ms-2">All</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="Los Angeles" inputId="city2"></p-radioButton>
                <label for="city2" class="ms-2">Yes</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="New York" inputId="city3"></p-radioButton>
                <label for="city3" class="ms-2">No</label>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-12 pt-4">
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
    </div>
</div>

<div class="mt-2">
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">
                    <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                </th>
                <th class="sticky-top">Service</th>
                <th class="sticky-top">Include</th>
                <th class="sticky-top">Default Fee</th>
                <th class="sticky-top">Edited Fee</th>
                <th class="sticky-top">Fee Type</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="bg-orange" *ngIf="rowIndex%3==0">
                <td colspan="15">
                    <h6 class="AvenirLTStd-Medium mb-0">Thursday, November {{rowIndex+1}}th, 2020</h6>
                </td>
            </tr>
            <tr [pSelectableRow]="customer" class="tr-data">
                <td>
                    <div class="form-check form-check-inline form-checkbox me-0">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"></label>
                      </div>
                </td>
                <td>
                    Menu
                </td>
                <td>
                    Yes
                </td>
                <td>
                    3
                </td>
                <td>
                    <input type="text" id="inputgroup" pInputText class="text-end">
                </td>
                <td>
                    %
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
<div class="nav justify-content-between align-items-center sticky-bottom bg-white mt-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
        ></button>
  
    <p-button label="Save"  icon="pi pi-save" iconPos="left" ></p-button>
</div>