<div class="">
  <form [formGroup]="passwordForm" >
    <div class=" py-2 d-flex align-items-center justify-content-between">
        <div class="form-container ">
            <div class="login-input">
                <div class="login-input-field">
                    <div class="input-group">
                      <p-password formControlName="oldPassword"  placeholder="Old Password" [feedback]="false" [toggleMask]="true"></p-password>
                  </div>
                    <div *ngIf="form.oldPassword.invalid && formError" class="massage text-left">
                      <span *ngIf="form.oldPassword.errors?.required" class="text-danger text-left">Old password Required</span>
                  </div>
                </div>
                <div class="login-input-field">
                    <div class="input-group">
                      <p-password formControlName="password" placeholder="New Password" [feedback]="false" [toggleMask]="true"></p-password>
                    </div>
                    <div *ngIf="form.password.invalid && formError" class="massage text-left">
                      <span *ngIf="form.password.errors?.required" class="text-danger text-left"> New Password Required</span>
                  </div>
                </div>
                <div class="login-input-field">
                    <div class="input-group">
                      <p-password placeholder="Confirm Password" formControlName="confirmPassword" [feedback]="false" [toggleMask]="true"></p-password>
                      </div>
                    <div *ngIf="form.confirmPassword.invalid && formError" class="massage text-left">
                      <span class="text-danger text-left" *ngIf="form.confirmPassword.errors?.passwordMismatch">Password Not Matched </span>
                      <span *ngIf="form.confirmPassword.errors?.required" class="text-danger text-left"> Confirm Password Required</span>
                  </div>
                </div>
                <div>
                  <div class="d-flex">
                    <button pButton class="p-button-danger mr-2"(click)="modelRef.destroy()"  label="Cancel" icon="pi pi-times"></button>
                    <button pButton class="p-button-success" (click)="changePassword()"  label="Save" icon="pi pi-check"></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
