<!-- <p>create-event works!</p> -->
<div class="mx-5 mt-5 mb-2">
  <p-card>
    <ng-template pTemplate="header" class="mx-3 pt-3">

      <ul class="timeline m-0 p-0 w-100 d-flex align-items-center" id="timeline">
        <li class="li timeline-item " [ngClass]="{'complete': tabIndex === 0, 'visited': tabIndex > 0 }"
          (click)="tabIndex=0">
          <div>
            <div class="number-wrapper mb-2"> <span class="timeline-icon "><span class="material-icons color-white">
                  done
                </span></span></div>
            <h6 class="shift-wrapper beta-group label-text">Details</h6>
          </div>
        </li>
        <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 1, 'visited': tabIndex > 1}"
          (click)="tabIndex=1">
          <div>
            <div class="number-wrapper mb-2"> <span class="timeline-icon"><span class="material-icons color-white">
                  done
                </span></span></div>
            <h6 class="shift-wrapper label-text">Address</h6>
          </div>
        </li>
        <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 2, 'visited': tabIndex > 2}"
          (click)="tabIndex=2">
          <div>
            <div class="number-wrapper mb-2"><span class="timeline-icon"><span class="material-icons color-white">
                  done
                </span></span></div>
            <h6 class="shift-wrapper label-text">Inquiry Details</h6>
          </div>
        </li>
      </ul>
    </ng-template>
    <ng-container *ngIf="tabIndex === 0">
      <div class="fieldset">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white"> Lead Details</h5>
          </div>
        </div>
        <div class="p-fluid p-grid row m-0 event-f-g">

          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  groups
                  </span>
              </span>
              <span class="p-float-label">
                <p-multiSelect inputId="multiselect" [options]="cities" optionLabel="name" [filter]="true"
                  styleClass="w-100" class="w-100">
                </p-multiSelect>
                <label for="inputgroup">Lead Type

                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  person
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Lead Name

                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  account_tree
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">Business Unit

                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  local_atm
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">Bill Terms

                </label>
              </span>
            </div>
          </div>

          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  redo
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">Referral Type
                </label>
              </span>
            </div>
          </div>

        </div>
      </div>
      <div class="fieldset mt-4">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white">Contact Details</h5>
          </div>
        </div>
        <div class="p-fluid p-grid row m-0 event-f-g">

          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  person
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">First Name
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  person
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Last Name
                </label>
              </span>
            </div>
          </div>



        </div>
      </div>


      <div class="nav justify-content-between align-items-center mt-2 px-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
        <div class="">
          <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2" *ngIf="tabIndex<0"></p-button> -->
          <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>

      </div>
    </ng-container>
    <ng-container *ngIf="tabIndex === 1">
      <div class="fieldset">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy px-2 bg-white">Address</h5>
          </div>
        </div>
        <div class="p-fluid p-grid row m-0 event-f-g">
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  <i class="fas fa-location-arrow"></i>
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Name
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-outlined f-20">
                  <i class="fas fa-road"></i>
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Street
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  location_on
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Suite
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  apartment
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">City
                </label>
              </span>
            </div>
          </div>

          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  flag
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">State

                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  list_alt
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Zip
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  <i class="fas fa-tty"></i>
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                <label for="inputgroup">Phone
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  stay_current_portrait
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                <label for="inputgroup">Mobile
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                  mail
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Email

                </label>
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="nav justify-content-between align-items-center mt-2 px-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
        <div class="">
          <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
          <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>

      </div>
    </ng-container>
    <ng-container *ngIf="tabIndex === 2">
      <div class="fieldset">
        <div class="legend">
          <div class="d-flex">
            <h5 class="AvenirLTStd-Heavy bg-white px-2">Inquiry Details</h5>
          </div>
        </div>
        <div class="p-fluid p-grid row m-0 event-f-g">
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  restaurant
                </span>
              </span>
              <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                  optionLabel="name"></p-dropdown>
                <label for="inputgroup">Event Type
                </label>
              </span>
            </div>
          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  cake
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Event Name
                </label>
              </span>
            </div>
          </div>


          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4 position-relative">
            <label for="inputgroup" class="float-item">Begin Time
            </label>
            <div class="d-flex align-items-center">
              <div class="p-inputgroup pe-2">
                <span class="p-inputgroup-addon ">
                  <span class="material-icons-round f-20">
                    calendar_today
                  </span>
                </span>
                <span class="p-float-label ">
                  <p-calendar placeholder="Date"></p-calendar>
                  <!-- <label for="inputgroup">Date
                  </label> -->
                </span>

              </div>
              <div class="p-inputgroup  ">
                <span class="p-inputgroup-addon">
                  <span class="material-icons-round f-20">
                    schedule
                  </span>
                </span>
                <span class="p-float-label">
                  <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Start Time"></p-calendar>
                  <!-- <label for="inputgroup">Start Time
                  </label> -->
                </span>

              </div>
            </div>

          </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4 position-relative">
            <label for="inputgroup" class="float-item">End Time
            </label>
            <div class="d-flex align-items-center">
              <div class="p-inputgroup pe-2">
                <span class="p-inputgroup-addon ">
                  <span class="material-icons-round f-20">
                    calendar_today
                  </span>
                </span>
                <span class="p-float-label ">
                  <p-calendar placeholder="Date"></p-calendar>
                  <!-- <label for="inputgroup">Date
                  </label> -->
                </span>

              </div>
              <div class="p-inputgroup  ">
                <span class="p-inputgroup-addon">
                  <span class="material-icons-round f-20">
                    schedule
                  </span>
                </span>
                <span class="p-float-label">
                  <p-calendar [timeOnly]="true" inputId="timeonly" placeholder="Start Time"></p-calendar>
                  <!-- <label for="inputgroup">Start Time
                  </label> -->
                </span>

              </div>
            </div>

          </div>
          <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                        </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="2" pInputTextarea></textarea>
                    <label for="float-input">Comments</label>
                </span>
            </div>
        </div>
          <div class="p-field   col-md-4 col-lg-3 col-sm-6 col-12 pt-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                  groups
                </span>
              </span>
              <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText>
                <label for="inputgroup">Guest Count
                </label>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="nav justify-content-between align-items-center mt-2 px-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
        <div class="d-flex align-items-center">
          <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
          <!-- <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" ></p-button> -->
          <p-button label="Save" icon="pi pi-save" iconPos="left"></p-button>
        </div>

      </div>
    </ng-container>
  </p-card>
</div>