<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
        <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input" placeholder="Search Name" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
        <!-- <span class="material-icons box-shadow print-icon">
            print
        </span> -->
    </div>
</div>
<div class="px-3 pb-3">
    <p-table [value]="customer" selectionMode="single" [paginator]="true" [rows]="20" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">ID</th>
                <th class="sticky-top">Customer</th>
                <th class="sticky-top">Contact</th>
                <th class="sticky-top">Email</th>
                <th class="sticky-top">Phone</th>
                <th class="sticky-top">Mobile</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <!-- <tr class="bg-orange">
                <td colspan="15"><h6 class="AvenirLTStd-Medium mb-0">Thursday, November 12th, 2020</h6></td>
            </tr> -->
            <tr [pSelectableRow]="customer" class="tr-data">
                <td><span class="material-icons-outlined" (click)="op1.toggle($event)">
                        reorder
                    </span></td>
                <td>
                    1
                </td>
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    <p-dropdown [options]="cities"  optionLabel="name" styleClass="w-250px"></p-dropdown>
                </td>
                <td>
                    ahex@ahe.co.in
                </td>
                <td>
                    212.333.4444
                </td>
                <td>
                    212.333.4444
                </td>


            </tr>
        </ng-template>
    </p-table>
</div>

<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="d-flex align-items-center justify-content-between mb-4 mx-3">
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                <label for="ny" class="mx-2">Lead</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="San Francisco" inputId="sf"></p-checkbox>
                <label for="sf" class="mx-2">Customer</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="Los Angeles" inputId="la"></p-checkbox>
                <label for="la" class="mx-2">Active</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="Chicago" inputId="ch"></p-checkbox>
                <label for="ch" class="mx-2">Inactive</label>
            </div>
        </div>
        <div class="p-fluid p-grid row m-0">
            <div class="p-field col-12 col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">ID</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Name</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Customer Type</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Contact</label>
                </span>
            </div>

            <div class="p-field col-col-12   col-md-6 pe-0  ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="multiselect">AE</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Phone</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">City</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0   ">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">State</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>


<p-overlayPanel #op1 id="slide-icons">
    <ng-template pTemplate>
        <ul class="m-0 p-0 d-flex">
            <li class="drop-list" pTooltip="Edit Customer" [routerLink]="['/customer/customertabs']" tooltipPosition="top"> <span class="material-icons-outlined f-20">
                    edit
                </span>
            </li>
            <li class="drop-list" pTooltip="Create Event" [routerLink]="['/c-event']" tooltipPosition="top"> <span class="material-icons-outlined f-20">
                <i class="far fa-calendar-plus"></i>
                </span>
            </li>
            <li class="drop-list" pTooltip="View Events" (click)="viewEvents(op1)" tooltipPosition="top"> <span class="material-icons-outlined f-20">
                <i class="fas fa-glasses"></i>
                </span>
            </li>
            <li class="drop-list" pTooltip="Call Log" tooltipPosition="top"> <span class="material-icons-outlined f-20">
                call
                </span>
            </li>
            <li class="drop-list" pTooltip="View Call Log" tooltipPosition="top"> <span class="material-icons-outlined f-20">
                description
                </span>
            </li>
        </ul>
    </ng-template>
</p-overlayPanel>
