<div class="customer-tabs m-3">
    <p-tabView [activeIndex]="0" styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="material-icons-round me-2 f-20">
            filter
          </i>
          <span>Sales</span>
        </ng-template>
        <div class="fieldset mt-3 px-2">
          <div class="legend">
            <div class="d-flex">
              <h5 class="AvenirLTStd-Heavy mb-0 px-2 bg-white">Filter Preference</h5>
            </div>
          </div>
          <div class="row ">
            <div class="p-field col-md-4 col-lg-3  col-sm-6 col-12  pt-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        date_range
                    </span>
                  </span>
                  <span class="p-float-label">
                    <p-dropdown [filter]="true" [(ngModel)]="dateFormat" [options]="systemprefernceResponse?.liteDateformat" inputId="dropdown" [autoDisplayFirst]="false" class="w-100"
                      styleClass="w-100" optionValue="id" optionLabel="mvcDateformat">
                    </p-dropdown>
                    <label for="inputgroup">Date Format
                    </label>
                  </span>
                </div>
              </div>
            <div class="p-field col-md-4 col-lg-3  col-sm-6 col-12  pt-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons f-20">
                        person_outline
                        </span>
                </span>
                <span class="p-float-label">
                  <input type="text" id="inputgroup" [(ngModel)]='catererName' pInputText
                  >
                  <label for="inputgroup">Caterer Name
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-4 px-2">
          <div class="nav justify-content-between align-items-center">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
            <p-button (click)="saveSystemPreferences()" label="Save" icon="pi pi-save" iconPos="left"></p-button>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
