<!-- <p>closed-days works!</p> -->
<div class="customer-tabs m-3">
    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="currentindex" styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="material-icons-round me-2 f-20">
                    arrow_forward
                  </i>
                <span>Future</span>
            </ng-template>
            <app-future *ngIf="currentindex==0"></app-future>
        </p-tabPanel>
        <p-tabPanel header="Contact">
            <ng-template pTemplate="header">
                <i class="material-icons-round me-2 f-20">
                    arrow_back
                  </i>
                <span>Past</span>
            </ng-template>
            <app-past *ngIf="currentindex==1"></app-past>
        </p-tabPanel>
        <p-tabPanel header="Contact">
            <ng-template pTemplate="header">
                <i class="material-icons-round me-2 f-20">
                    apps
                  </i>
                <span>All</span>
            </ng-template>
            <app-all *ngIf="currentindex==2"></app-all>
        </p-tabPanel>
    </p-tabView>
</div>