<div class="customer-container">
    <p-card>
        <ng-template pTemplate="header" class="mx-3 pt-3">

            <ul class="timeline m-0 p-0 w-100 d-flex align-items-center" id="timeline">
                <li class="li timeline-item " [ngClass]="{'complete': tabIndex === 0, 'visited': tabIndex > 0 }"
                    (click)="tabIndex=0">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon "><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper beta-group label-text">Contact Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 1, 'visited': tabIndex > 1}"
                    (click)="tabIndex=1">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Address</h6>
                    </div>
                </li>

            </ul>
        </ng-template>
        <ng-container *ngIf="tabIndex === 0">
            <div class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy mb-0 px-2  bg-white">Contact Details</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">Customer Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">AE
    
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">First Name
                                </label>
                            </span>
                        </div>
                    </div>
    
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Last Name
    
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <label for="inputgroup" class="me-2">Active :
                            </label>
                            <p-inputSwitch></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </div>
         

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="">
                    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 1">
            <div class="fieldset">
                <div class="legend">
                    <div class=" d-flex align-items-center justify-content-between px-2 ">
                        <h5 class="AvenirLTStd-Heavy mb-0 bg-white px-2">Address</h5>
                        <div class="p-field-checkbox bg-white px-2">
                            <p-checkbox name="group1" value="Same as Address" inputId="ny"></p-checkbox>
                            <label for="ny" class="me-3 ms-2">Same as Customer Address</label>
                        </div>
                    </div>
                </div>
           
    
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    <i class="fas fa-location-arrow"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Name
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    location_on
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Suite
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    <i class="fas fa-road"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Street
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    flag
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">State
    
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    apartment
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">City
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    <i class="fas fa-tty"></i>
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Phone
                                </label>
                            </span>
                        </div>
                    </div>
    
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    email
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Zip
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    smartphone
                                    </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText mask="(999) 999-9999">
                                <label for="inputgroup">Mobile
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-round f-20">
                                    alternate_email
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="inputgroup" pInputText>
                                <label for="inputgroup">Email
    
                                </label>
                            </span>
                        </div>
                    </div>
    
                </div>
            </div>
          
            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Save"  icon="pi pi-save" iconPos="left" ></p-button>
                </div>

            </div>
        </ng-container>
    </p-card>
</div>