//   primeng 
.p-datepicker{
  z-index: 1021 !important;
}
.p-datatable {
  .p-datatable-wrapper {
    overflow: auto;
    max-height: 68vh;
  }

  table {
    table-layout: auto !important;

    th {
      color: $white !important;
      background: $table-bg-grey !important;
      height: 35px;
      // border-width: 1px !important;
    }

    tbody {
      font-family: "AvenirLTStd-Medium", sans-serif !important;

      .tr-data:nth-child(odd) {
        background-color: $white !important;
        font-family: "AvenirLTStd-Light", sans-serif !important;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
      }

      .tr-data:nth-child(even) {
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
        font-family: "AvenirLTStd-Light", sans-serif !important;
        background-color: $light !important;
      }

      tr {
        padding: 3px !important;

        td {
          padding: 3px 5px !important;

          input {
            height: 27px;
          }

          textarea {
            padding: 2px 5px;
          }
        }
      }
    }
  }
}

.event-setup-table {
  .p-datatable-wrapper {
    max-height: 57vh !important;
  }
}
.timeline-table{
  .p-datatable-wrapper{
    height: 62vh !important;
  }
}
// .approval-table .p-datatable-wrapper{
//   max-height: 75vh !important;
// }
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: $primary !important;
  border-color: $primary !important;
  color: $white !important;
}

.p-button-sm {
  padding: 2px 10px !important;
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}

.p-overlaypanel {
  z-index: 1024 !important;
}


.list-cont {
  label {
    font-size: 12px;
    padding-left: 10px;
  }
}


#filter {
  .p-overlaypanel-content {
    padding-top: 23px !important;
  }
}


.p-card-header {
  padding: 20px 20px 0 20px;
}



// timeline
.timeline {
  // margin: 30px 0px 0px 0px;
  // border: 1px solid #c8ced3;
  // padding: 20px 0 5px 0px;
  border-radius: 5px;
  // background-color: #f8f8f8;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;

  .timeline-item {
    position: relative;
    // padding-right: 15%;
    width: Calc(100%/3);
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ccddf0;
      top: 13px;
      // left: 92px;
      right: 50%;
    }

    &:first-child {
      padding-right: 0px;

      &::after {
        display: none;
      }
    }

    &.visited,
    &.complete {
      &::after {
        background: #5b76a2;
      }
    }
  }

  .timeline-icon {
    display: none;
  }

  .timeline-item.visited {
    &::after {
      // background-color: red
    }

    .number-wrapper {
      background-color: #5b76a2;

      .timeline-icon {
        display: flex;
        align-items: center;
        color: $white;
      }
    }
  }

  .timeline-item.complete {
    .number-wrapper {
      background-color: #5b76a2;
    }
  }

  .number-wrapper {
    border: 1px solid #5b76a2;
    background-color: $white;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}


.event-f-g {

  p-dropdown,
  p-calendar {
    width: 100%;
  }
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext {
  width: 100% !important;
}

.customer-container {
  margin: 20px 20px;

  .p-card-content {
    padding-bottom: 0 !important;
  }
}

.customer-tabs {
  .customer-container {
    margin: 0;

    .p-card {
      box-shadow: none;

    }
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow: auto;
      max-height: 66vh;
    }
  }
}

.p-dropdown-panel {
  z-index: 99999 !important;
}

.filter-section {
  .search-input {
    border-radius: 20px !important;
    background-color: #ebeef1;
    padding-left: 40px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #6f8ba4;
    border: none;
  }

  .input-group {
    // max-width: 420px;
    height: 40px;
    position: relative;
  }

  .input-group .search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6f8ba4;
    font-size: 16px;
    z-index: 3;
  }
}

@media(max-width:768px) {
  .filter-section {
    flex-wrap: wrap;

    .input-group {
      max-width: 100%;
    }
  }
}

.print-icon {
  width: 30px;
  height: 30px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.p-sidebar-left{
  z-index: 1021 !important;
}

// .sidebar-container {
//   position: relative;
//   background: #FC6161;
//   width: 50px;
//   // max-height: 90vh;
//   min-height: 505px;
//   overflow: auto;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   margin: 20px 0;
//   padding: 10px;

//   .sidebar-item {
//       @extend .box-shadow;
//     width: 35px;
//     height: 35px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 5px auto;
//     color: #212529;
//     background-color: white;
//     transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
//     border-radius: 8px;
//     cursor: pointer;
//     &.active{
//       color: var(--btn-cater-pink);
//     }
//     &:hover{
//       color: var(--btn-cater-pink);
//     }
//   }
// }
.fieldset {
  position: relative;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;

  .legend {
    position: absolute;
    top: -10px;
    left: 12px;
    padding: 0 20px 0 0;
    width: 100%;
  }
}

.widget-container {
  padding-left: 35px;
}

//responsive media screens

@media screen and (max-width:991px) {
  table {
    min-width: 991px;
  }
}


//switch user styles
.s-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 70%;
  margin: 0 auto;

  .p-card-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .p-card-content {
      padding: 0 0 20px 0;
    }
  }
}

//events order
.events-order-container {
  .p-datatable {
    .p-datatable-wrapper {
      // max-height: 75vh;
    }
  }

  .event-o-card {
    .p-card-body {
      padding: 0;

      .p-card-content {
        padding: 0;
      }
    }
  }
}

//fullorder
.fullorder-card {
  // width: 375px;
  height: 180px;
  overflow: auto;
  position: relative;

  .p-card-body {
    padding: 0 !important;

    .p-card-content {
      padding: 0 !important;
    }
  }

  .card-right-text {
    background: $orange;
    color: $white;
    border-radius: 5px;
    font-size: 12px;
  }

}

.float-item {
  position: absolute;
  top: 0;
  font-size: 12px;
}

@media screen and (max-width:768px) {
  .s-user-container {
    width: 90%;
  }
}

@media screen and (min-width:768px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media screen and (min-width:576px) {
  .w-sm-75 {
    width: 75%;
  }
}


.form-checkbox{
  input{
    width: 21px !important;
    height: 21px !important;
    border: 2px solid #ced4da;
    &:focus{
      border-color: #4caf50 !important;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(76 175 80 / 20%) !important;
    }
    &:hover{
      border-color: #4caf50 !important;
    }
    &:checked {
      background-color: #4caf50 !important;
      border-color: #4caf50 !important;
  }
  }
  .form-check-input:checked[type=checkbox] {
    background-image: url("../images/check.svg") !important;
  }
}
.mb-5px{
  margin-bottom: 5px !important;
}
.w-120{
  width: 120px;
}
.mn-w-200{
  min-width: 200px;
}
.w-60{
  width: 60px;
}
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
  margin-bottom: 2.5rem !important;
  }