.p-dialog .p-dialog-header {
  background: #767676 !important;
  color: #ffffff !important;
  padding: 10px 20px !important;

  .p-dialog-header-icon {
    color: $white !important;
  }
}

.events-order-list {
  max-height: 100% !important;
  width: 98%;

  .p-datatable .p-datatable-wrapper {
    max-height: 50vh;
  }
}

.popup-cont {
  max-height: 100% !important;
  width: 98%;

  .p-datatable-wrapper {
    max-height: 57vh !important;
  }
}

.third-party {
  max-height: 100% !important;

  .p-datatable .p-datatable-wrapper {
    max-height: 75vh;
  }

  .p-dialog-content {
    padding-bottom: 0 !important;
  }
}
.common-dialog-class{
  max-height: 100% !important;
  .p-datatable .p-datatable-wrapper {
    max-height: 68vh !important;
  }

}
.dynamic-dialog-container {
  .p-dialog-header {
    display: none;

    &.custom-header {
      display: flex;
    }
  }

  .p-dialog-content {
    padding: 0 !important;
  }
}
.common-dialog-height{
  max-height: 100% !important;
}

.service-tabs {
  .list-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    border: solid #dee2e6;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #dee2e6 transparent;
flex-wrap: wrap;
    .list-item {
      border: solid #dee2e6;
      border-width: 0 0 2px 0;
      border-color: transparent transparent #dee2e6 transparent;
      background: #ffffff;
      color: #6c757d;
      padding: 5px 15px;
      font-weight: 600;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      transition: box-shadow 0.2s;
      margin: 0 0 -2px 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.active {
        background: #ffffff;
        border-color: #4CAF50;
        color: #4CAF50;
      }
    }
  }

  .tabview-custom-style {
    display: flex;


    .p-tabview-nav {
      display: block !important;
      border: 0 !important;
      width: 135px;

      li {

        a {
          background: #f09038 !important;
          color: #ffffff !important;
          border: 0 !important;
          border-bottom: 5px solid #ffffff !important;
          padding: 8px 10px;
        }

        &.p-highlight a {
          background: #870e56 !important;
          border-color: #ffffff !important;
          color: #ffffff !important;
          width: 100%;
        }
      }
    }

    .p-tabview-panels {
      width: 90%;
    }

    .p-paginator-bottom {
      border: 0 !important;
    }

    .position-btn {
      position: absolute;
      // width: 100%;
      bottom: 0;
    }


  }
  .staffing-item-table {
    tbody {
      tr {
        td {
          input {
            width: 70px;
          }

          textarea,
          .p-dropdown {
            width: 130px;
          }
        }
      }
    }
  }
}


.p-multiselect-panel{
  z-index: 2000 !important;
}


.side-cont{


.sidebar-toggler {
  display: none;
}

.toggle {
  position: fixed;
  top: 50%;
  left: 0;
  background: #2d1664;
  color: white;
  font: 30px "Verdana", "Tahoma", serif;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1025;
}

.page-content {
  position: relative;
  z-index: 0;
}

.sidebar {
  position: fixed;
  top: 47px;
  left: -400px;
  z-index:  999999;
  // padding: 20px 30px 30px;
  width: 250px;
  height: 100%;
  background: #ef8c31;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.sidebar li {
  font-size: 16px;
  line-height: 24px;
  font-family: "AvenirLTStd-Medium", sans-serif !important;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

// .sidebar a:hover {
//   color: rgba(255,255,255,1);
// }

.sidebar-toggler:checked + .page-wrap .sidebar {
  left: 0;
}

.sidebar-toggler:checked + .page-wrap .toggle {
  left: 250px;
  transform: rotate(180deg);
}
.title-sidebar{
  text-align: center;
  background: $btn-cater-pink;
  color: white;
  padding: 10px;
}
li{
  padding: 10px;
    border-bottom: 1px solid #cac9c9;
    &:hover{
      background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    }
}
}

@media(max-width:$screen-xs){
  .p-dialog{
    width: 95% !important;
  }
  .service-tabs{
    .p-tabview-panels {
      width: calc(100% - 150px);
    }
  }
}
@media(max-width:991px){
  .service-tabs{
    .p-tabview-panels {
      width: calc(100% - 150px) !important;
    }
  }
}