.login-container {
  min-height: 100vh;
  display: flex;
align-items: center;
justify-content: center;
  background-image: linear-gradient(rgb(135 14 86 / 70%),transparent),url("../images/bg-1.jpg") ;
//   linear-gradient(rgb(135 14 86 / 70%), transparent), url(bg-1.jpg)
  .login-container-inner {
    width: 360px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: $white;
    margin: 0 auto;
  }
}
.btn-submit {
  margin: 15px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: $btn-cater-pink;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  cursor: pointer;
  border-color: $btn-cater-pink;
  width: 100%;
  height: 40px;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
}
.login-input-field {
  padding: 10px 0;
}
.form-container {
  position: relative;
}

@media (max-width: $screen-sm) {
    .login-container  {
        width: 100%;
        height: 100%;
       
      }
}
