$white:#ffffff;
$btn-cater-pink:#870e56;
$black:#000;
$grey-light:#B5B5C3;
$blue-light:#3699FF;
$primary:#4caf50;
$table-bg-grey:#767676;
$light:#f6f6f6;
$border-grey:#dee2e6;
$orange:#ef8b2f;
// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 768px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;

:root{
    --btn-cater-pink:#870e56;
}