<!-- <div class="calendar-wrapper">

    <div class="row m-0">

        <div class="calendar-inner-wrapper col-md-12 col-12 py-2 ps-3 pe-2">

            <div class="row text-center m-0">
                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="btn btn-primary previous-button d-flex align-items-center" mwlCalendarPreviousView
                            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            <i class="fas fa-backward pr-3"></i>
                            <span>Previous</span>
                        </div>
                        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                            Current
                        </div>
                        <div class="btn btn-primary next-button d-flex align-items-center" mwlCalendarNextView
                            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                            <span>Next</span>
                            <i class="fas fa-forward px-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>

                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month">
                            Month
                        </div>
                        <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week">
                            Week
                        </div>
                        <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day">
                            Day
                        </div>
                    </div>
                </div>
            </div>

            <div class="calendar-view-wrapper">
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('click', $event.event,'','')"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventClicked)="handleEvent('click', $event.event,'','')"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" [hourSegments]="6" (eventClicked)="handleEvent('click', $event.event,'','')"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view>
                </div>
            </div>
       
        </div>


    </div>

</div> -->

<div class="position-relative my-2 ms-3 me-2 bg-white p-3">
    <full-calendar [options]="calendarOptions" *ngIf='calendarVisible'></full-calendar>
    <div class="d-flex align-items-center custom-calendar-input">
        <div class="p-inputgroup w-180">
            <span class="p-inputgroup-addon ">
                <span class="material-icons-round f-20">
                    calendar_today
                </span>
            </span>
            <span class="p-float-label ">
                <p-calendar  [hourFormat]="'12'">
                </p-calendar>
           </span>
        </div>
        <p-button icon="pi pi-arrow-right" class="ms-2"></p-button>
    </div>
    <div class=" legend-scale">
        <ul class="d-flex align-items-center mt-2 p-0">
            <li class="legend-scale-item"><span class="bg-blue span-bg"></span>Event</li>
            <li class="legend-scale-item"><span class="bg-purple span-bg"></span>Moved Event</li>
            <li class="legend-scale-item"><span class="bg-red span-bg"></span>Closed Days</li>
            <li class="legend-scale-item"><span class="bg-yellow span-bg"></span>Approval Days</li>
            <li class="legend-scale-item"><span class="bg-orange span-bg"></span>Watch Days</li>
        </ul>
    </div>
</div>