.custom-calendar-input{
    position: absolute;
    top: 13px;
    left: 150px;
}
.legend-scale-item
{
    font-size: 12px;
    list-style: none;
    margin-left: 0;
    line-height: 19px;
    margin-bottom: 2px;
    padding-right: 13px;
    // font-weight: bold;
    color: black;
}
.bg-blue{
    background-color: #3a87ad;
}
.bg-purple{
    background-color: #8893a7;
}
.bg-red{
    background-color: #ff0000ad!important;
}
.bg-yellow{
    background-color: #ffff009e!important;
}
.bg-orange{
    background-color: #fa882f!important;
}
.span-bg{
    display: flex;
    float: left;
    height: 18px;
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #3e3b3bbf;
    border-radius: 5px;
}
.legend-scale{
    position: absolute;
    top: 48px;
    right: 0px;

}
::ng-deep{
    .fc .fc-daygrid-day-number,.fc .fc-col-header-cell-cushion,.fc-list-day-side-text,.fc-list-day-text {
        color: black;
    }
}
