<div class="row">
  <div class="col-md-6 p-5 mt-5">
    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="margin-top:10%">
      <img src="assets/images/caterxpertlite.png" height="65">
      <div><label>{{copyRight}}</label></div>
    </div>
  </div>
  <div class="col-md-6 p-5">
    <div>
      <span><i class="fab fa-vimeo-v" style="font-size:30px;"></i></span>
      <div>
        <h4>Version</h4>
        <span><a title="" role="button"><label>{{literelease.version}}</label></a></span>
      </div>
    </div>
    <div>
      <span><i class="fa fa-globe" style="font-size:30px;"></i></span>
      <div>
        <h4>Supported Browsers </h4>
        <b>
          <p>Windows :</p>
        </b>
        <p>{{literelease.windowsSupported}}</p>
      </div>
    </div>
    <div>
      <span><i class="fa fa-desktop" style="font-size:30px;"></i></span>
      <div>
        <h4>Resolution</h4>
        <p>{{literelease.resolutions}}</p>
      </div>
    </div>
  </div>
</div>
