#pointerClosed {
  width: 79px;
  height: 20px;
  position: relative;
  background-color: red !important;
  background-image: linear-gradient(to bottom, #ff0000ad, #d44848ba);
  margin: 0px;
  display: flex;
  align-items: center;
  color: white;

  .pointer-span {
    font-size: 12px;
    padding-left: 11px;
    font-weight: bold;
  }

  &::before {
    content: "";
    position: absolute;
    right: 79px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 10px solid red !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    left: 69px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
