.input-group .form-control {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    background-color: #eae8f8;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #6f8ba4;
    border: none;
}


.material-icons {
    cursor: pointer;
}
.left-icon {
    position: absolute;
    left: 2px;
    top: 4px;
    color: #6f8ba4;
    z-index: 3;
}
.right-icon {
    position: absolute;
    right: 5px;
    top: 4px;
    color: #6f8ba4;
    cursor: pointer;
    z-index: 3;
}