<!-- sas -->
<div class="login-container">
    <div class="logo-cont">
        <div class=" mb-1">
            <!-- <img src="assets/images/CaterXpert-01.png" alt="" class="img-fluid d-block m-auto position-absolute" style="
            left: 42%; top:18%;"> -->
            <img src="assets/images/lite.png" alt="" class="img-fluid d-block m-auto" >
        </div>

        <!-- <div class="logo-content2 mb-3">
            <img src="assets/images/Aquila2.png" alt="" class="img-fluid d-block m-auto">
        </div> -->

        <div class="login-container-inner">
          <form [formGroup]="loginForm" >
            <div class="login-wrapper p-4 d-flex align-items-center justify-content-between">
                <div class="form-container w-100">
                    <div class="login-input">
                        <div class="login-input-field">
                            <div class="input-group">
                                <input type="text" class="form-control ps-5" aria-label="Caterer Id"
                                    aria-describedby="Caterer Id" tabindex="1" formControlName="catererId" placeholder="Caterer ID">
                                <span class="material-icons left-icon">
                                    person_outline
                                </span>
                            </div>
                            <div *ngIf="form.catererId.invalid && formError" class="massage text-left">
                              <span *ngIf="form.catererId.errors?.required" class="text-danger text-left">CatererId Required</span>
                          </div>

                        </div>
                        <div class="login-input-field">

                            <div class="input-group">
                                <input type="text" class="form-control ps-5" aria-label="Caterer Id"
                                    aria-describedby="Caterer Id" tabindex="2" formControlName="userId" placeholder="User ID">
                                <span class="material-icons left-icon">
                                    person_outline
                                </span>
                            </div>
                            <div *ngIf="form.userId.invalid && formError" class="massage text-left">
                              <span *ngIf="form.userId.errors?.required" class="text-danger text-left">UserId Required</span>
                          </div>

                        </div>
                        <div class="login-input-field">

                            <div class="input-group">
                                <input type="{{ShowPassword ? 'text':'password'}}" class="form-control ps-5" aria-label="Caterer Id"
                                    aria-describedby="Caterer Id" tabindex="3"formControlName="password" placeholder="Password">
                                <span class="material-icons material-icons-outlined left-icon">
                                    lock
                                </span>
                                <span  (click)="showpassword()" class="material-icons right-icon" *ngIf="!ShowPassword">
                                    visibility
                                </span>
                                <span class="material-icons right-icon" (click)="showpassword()" *ngIf="ShowPassword">
                                    visibility_off
                                    </span>
                                <!-- <span *ngIf="ShowPassword==false" (click)="showpassword()"class="material-icons right-icon d-none">
                                    visibility_off
                                </span> -->
                            </div>
                            <div *ngIf="form.password.invalid && formError" class="massage text-left">
                              <span *ngIf="form.password.errors?.required" class="text-danger text-left">Password Required</span>
                          </div>

                        </div>
                        <button type="submit" (click)="authenticateUser()" class="btn-submit">Login</button>
                    </div>
                </div>


            </div>
          </form>
        </div>
    </div>
</div>

