<div class="p-fluid p-grid row m-0 event-f-g">
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                    restaurant
                </span>
            </span>
            <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">Category

                </label>
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons f-20">
                    autorenew
                </span>
            </span>
            <span class="p-float-label">
                <p-dropdown [filter]="true" inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name">
                </p-dropdown>
                <label for="inputgroup">Quantity

                </label>
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Description</label>
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Menu Information</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Rental Equipment</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Floral, Staging & Vendor Items</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Bar & Beverage Items</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Type 5</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Type 6</label>
            </span>
            <span class="material-icons ms-2 color-green" (click)="showServicetabs()">
                assignment
            </span>
        </div>
    </div>
</div>



<div class="nav justify-content-between align-items-center mt-2 px-2 pb-2">
    <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
    <div class="">
        <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2" *ngIf="tabIndex<0"></p-button> -->
        <p-button label="Save" icon="pi pi-save" iconPos="right"></p-button>
    </div>

</div>