::ng-deep .p-tabview-panels{
    // padding: 0 !important;
}
::ng-deep {
    // .p-tabview-nav-link{
    //     padding: 5px 20px !important;
    // }
   .md {
    .p-tabview-nav-link{
            padding: 5px 20px !important;
        }
        .p-dialog-header{
            display: none !important;
        }
   }
}