<!-- <p>create-event works!</p> -->
<div class="mx-5 mt-5 mb-2">
    <p-card>
        <ng-template pTemplate="header" class="mx-3 pt-3">

            <ul class="timeline m-0 p-0 w-100 d-flex align-items-center" id="timeline">
                <li class="li timeline-item " [ngClass]="{'complete': tabIndex === 0, 'visited': tabIndex > 0 }">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon "><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper beta-group label-text">Details</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 1, 'visited': tabIndex > 1}">
                    <div>
                        <div class="number-wrapper mb-2"> <span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Contact Information</h6>
                    </div>
                </li>
                <li class="li timeline-item" [ngClass]="{'complete': tabIndex === 2, 'visited': tabIndex > 2}">
                    <div>
                        <div class="number-wrapper mb-2"><span class="timeline-icon"><span
                                    class="material-icons color-white">
                                    done
                                </span></span></div>
                        <h6 class="shift-wrapper label-text">Delivery Information</h6>
                    </div>
                </li>
            </ul>
        </ng-template>
        <ng-container *ngIf="tabIndex === 0">
            <form [formGroup]="detailsForm" class="fieldset">
                <div class="legend">
                    <div class="d-flex">
                        <h5 class="AvenirLTStd-Heavy px-2 bg-white">Details</h5>
                    </div>
                </div>
                <div class="p-fluid p-grid row m-0 event-f-g">
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <!-- <p-dropdown [filter]="false" [required]="true" formControlName="customerId" [autoDisplayFirst]="false" [options]="lookups?.customersList" optionValue="id" optionLabel="name" ></p-dropdown> -->
                                <p-autoComplete formControlName="customerId" [suggestions]="filteredCustomer"
                                    [forceSelection]="true" field="name" [minlength]="0" class="w-100" styleClass="w-100"
                                    (completeMethod)="filterCustomer($event)"></p-autoComplete>
                                <label for="inputgroup">Customer Name <span class="text-danger">*</span>
                                </label>
                            </span>
                            <button (click)="addNewCustomer()" pButton pRipple type="button"
                                pTooltip="click to add new customer" icon="pi pi-plus"
                                class="p-button-rounded ms-1"></button>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" formControlName="ae" [autoDisplayFirst]="false"
                                    optionValue="id" [options]="lookups?.usersList" optionLabel="name"></p-dropdown>
                                <label for="inputgroup">AE <span class="text-danger">*</span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    calendar_today
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-calendar appendTo="body" [hourFormat]="'12'" formControlName="beginTime"
                                    [baseZIndex]="1" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true"
                                    yearRange="1900:9999"></p-calendar>
                                <label for="inputgroup">Begin Time <span class="text-danger">*</span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    calendar_today
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-calendar [hourFormat]="'12'" [autoZIndex]="true" formControlName="endTime"
                                    [showTime]="true" [monthNavigator]="true" [yearNavigator]="true"
                                    yearRange="1900:9999"></p-calendar>
                                <label for="inputgroup">End Time <span class="text-danger">*</span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    restaurant
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" formControlName="eventType" [autoDisplayFirst]="false"
                                    [options]="lookups?.eventTypeList" optionValue="id" optionLabel="type"></p-dropdown>
                                <label for="inputgroup">Event Type <span class="text-danger">*</span>

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    autorenew
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [filter]="true" formControlName="status" [autoDisplayFirst]="false"
                                    [options]="lookups?.partyStatusList" optionValue="id" optionLabel="status">
                                </p-dropdown>
                                <label for="inputgroup">Status <span class="text-danger">*</span>

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    cake
                                </span>
                            </span>
                            <span class="p-float-label">
                                <input formControlName="eventName" type="text" pInputText>
                                <label for="inputgroup">Event Name <span class="text-danger">*</span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown formControlName="billCustomer" [autoDisplayFirst]="false"
                                    [options]="lookups?.customersList" optionValue="id" optionLabel="name"></p-dropdown>
                                <label for="inputgroup">Bill Customer <span class="text-danger">*</span>

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    perm_identity
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown formControlName="paltterType" [showClear]="true" [autoDisplayFirst]="false"
                                    [options]="lookups?.platterTypesList" optionValue="id" optionLabel="type">
                                </p-dropdown>
                                <label for="inputgroup">Platter Type

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    account_tree
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [showClear]="true" formControlName='eventTheme' [autoDisplayFirst]="false"
                                    [options]="lookups?.eventThemeList" optionValue="id" optionLabel="name">
                                </p-dropdown>
                                <label for="inputgroup">Event Theme<span class="text-danger">*</span>

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    account_tree
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-dropdown [showClear]="true" formControlName='bussinessUnit'
                                    [autoDisplayFirst]="false" [options]="lookups?.businessUnitsList" optionValue="id"
                                    optionLabel="name"></p-dropdown>
                                <label for="inputgroup">Business Unit

                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <span class="material-icons f-20">
                                    groups
                                </span>
                            </span>
                            <span class="p-float-label">
                                <p-inputNumber formControlName="guestCount" class="w-100" styleClass="w-100"></p-inputNumber>
                                <label for="inputgroup">Guest Count <span class="text-danger">*</span>
                                </label>
                            </span>
                        </div>
                    </div>

                </div>
            </form>


            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close"
                    (click)="apiservice.previousRoute()" class="p-button-danger"></button>
                <div class="">
                    <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2" *ngIf="tabIndex<0"></p-button> -->
                    <p-button label="Next" (onClick)="submitDetails()" icon="pi pi-angle-right" iconPos="right">
                    </p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 1">
            <form [formGroup]="contactInformationForm">
                <div class="fieldset">
                    <div class="legend">
                        <div class="d-flex">
                            <h5 class="AvenirLTStd-Heavy px-2 bg-white">Location</h5>
                        </div>
                    </div>
                    <div class="p-fluid p-grid row m-0 event-f-g">
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="locationName" pInputText>
                                    <label for="inputgroup">Name
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        <i class="fas fa-road"></i>
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="street" pInputText>
                                    <label for="inputgroup">Street<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        location_on
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="suite" pInputText>
                                    <label for="inputgroup">Suite
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        apartment
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="city" pInputText>
                                    <label for="inputgroup">City<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        flag
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown [autoDisplayFirst]="false" formControlName="country"
                                        [options]="lookups?.countyList" optionValue="id" optionLabel="name">
                                    </p-dropdown>
                                    <label for="inputgroup">County<span class="text-danger">*</span>

                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        flag
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown [autoDisplayFirst]="false" formControlName="state"
                                        [options]="lookups?.statesList" optionValue="id" optionLabel="name">
                                    </p-dropdown>
                                    <label for="inputgroup">State<span class="text-danger">*</span>

                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        email
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="zip" pInputText>
                                    <label for="inputgroup">Zip<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        <i class="fas fa-tty"></i>
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-inputMask formControlName="phone" mask="(999) 999-9999" styleClass="w-100"
                                        class="w-100"></p-inputMask>
                                    <label for="inputgroup">Phone
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        login
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="entrance" pInputText>
                                    <label for="inputgroup">Entrance

                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset mt-4">
                    <div class="legend ">
                        <div class="d-flex">
                            <h5 class="AvenirLTStd-Heavy mb-0  px-2 bg-white">Contact Information</h5>
                        </div>
                    </div>
                    <div class="p-fluid p-grid row m-0 event-f-g">
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        person
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="contactName" pInputText>
                                    <label for="inputgroup">Name<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        smartphone
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="contactMobile" pInputText>
                                    <label for="inputgroup">Mobile<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        <i class="fas fa-tty"></i>
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" formControlName="contactPhone" pInputText>
                                    <label for="inputgroup">Phone<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4 col-lg-3 col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        alternate_email
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <input type="email" formControlName="contactEmail" pInputText>
                                    <label for="inputgroup">Email<span class="text-danger">*</span>
                                    </label>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
            </form>

            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <p-button label="Next" (onClick)="submitContactDetails()" icon="pi pi-angle-right" iconPos="right">
                    </p-button>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="tabIndex === 2">
            <form [formGroup]="deliveryInformation">
                <div class="fieldset">
                    <div class="legend">
                        <div class="d-flex">
                            <h5 class="AvenirLTStd-Heavy bg-white px-2">Delivery Information</h5>
                        </div>
                    </div>
                    <div class="p-fluid p-grid row m-0 event-f-g">
                        <div class="p-field     col-12 pt-2 d-flex align-items-center justify-content-between">
                            <p class="AvenirLTStd-Medium w-15 white-space-nowrap mb-0 f-16 me-4 col-2">Food Delivery</p>
                            <div class="col-10 d-flex align-items-center justify-content-between">
                                <div class="p-inputgroup w-180">
                                    <span class="p-inputgroup-addon ">
                                        <span class="material-icons-round f-20">
                                            calendar_today
                                        </span>
                                    </span>
                                    <span class="p-float-label ">
                                        <p-calendar formControlName="foodDeliveryBeginTime" [hourFormat]="'12'">
                                        </p-calendar>
                                        <label for="inputgroup">Date
                                        </label>
                                    </span>

                                </div>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="foodDeliveryBeginTime" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">Start Time
                                        </label>
                                    </span>

                                </div>
                                <span class=" ">To</span>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="foodDeliveryEnd" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">End Time
                                        </label>
                                    </span>

                                </div>
                                <div class="p-field-checkbox  w-180">
                                    <p-checkbox formControlName="foodDeliveryCheck" [binary]="true" inputId="binary">
                                    </p-checkbox>
                                    <label for="binary " class="ms-2">Not Required
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="p-field     col-12 pt-4 d-flex align-items-center justify-content-between">
                            <p class="AvenirLTStd-Medium  w-15 white-space-nowrap mb-0 f-16 me-4 col-2">Food Pick Up</p>
                            <div class="col-10 d-flex align-items-center justify-content-between">
                                <div class="p-inputgroup w-180">
                                    <span class="p-inputgroup-addon ">
                                        <span class="material-icons-round f-20">
                                            calendar_today
                                        </span>
                                    </span>
                                    <span class="p-float-label ">
                                        <p-calendar formControlName="foodPickUpBeginTime" [hourFormat]="'12'">
                                        </p-calendar>
                                        <label for="inputgroup">Date
                                        </label>
                                    </span>

                                </div>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="foodPickUpBeginTime" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">Start Time
                                        </label>
                                    </span>

                                </div>
                                <span class=" ">To</span>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="foodPickUpEnd" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">End Time
                                        </label>
                                    </span>

                                </div>
                                <div class="p-field-checkbox  w-180">
                                    <p-checkbox formControlName="foodPickupCheckup" [binary]="true" inputId="binary">
                                    </p-checkbox>
                                    <label for="binary " class="ms-2">Not Required
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="p-field     col-12 pt-4 d-flex align-items-center justify-content-between">
                            <p class="AvenirLTStd-Medium white-space-nowrap mb-0 f-16 me-4 w-15 col-2">Equipment
                                Delivery</p>
                            <div class="col-10 d-flex align-items-center justify-content-between">
                                <div class="p-inputgroup w-180">
                                    <span class="p-inputgroup-addon ">
                                        <span class="material-icons-round f-20">
                                            calendar_today
                                        </span>
                                    </span>
                                    <span class="p-float-label ">
                                        <p-calendar formControlName="equipDeliverBeginTime" [hourFormat]="'12'">
                                        </p-calendar>
                                        <label for="inputgroup">Date
                                        </label>
                                    </span>

                                </div>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar [hourFormat]="'12'" formControlName="equipDeliverBeginTime"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">Start Time
                                        </label>
                                    </span>

                                </div>
                                <span class=" ">To</span>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar [hourFormat]="'12'" formControlName="equipDeliverEndTime"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">End Time
                                        </label>
                                    </span>

                                </div>
                                <div class="p-field-checkbox  w-180">
                                    <p-checkbox formControlName="equipDeliverCheckup" [binary]="true"></p-checkbox>
                                    <label for="binary " class="ms-2">Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="p-field     col-12 pt-4 d-flex align-items-center justify-content-between">
                            <p class="AvenirLTStd-Medium  white-space-nowrap mb-0 f-16 me-4 w-15 col-2">Equipment Pick
                                Up</p>
                            <div class="col-10 d-flex align-items-center justify-content-between">
                                <div class="p-inputgroup w-180">
                                    <span class="p-inputgroup-addon ">
                                        <span class="material-icons-round f-20">
                                            calendar_today
                                        </span>
                                    </span>
                                    <span class="p-float-label ">
                                        <p-calendar formControlName="equipPickupBeginTime" [hourFormat]="'12'">
                                        </p-calendar>
                                        <label for="inputgroup">Date
                                        </label>
                                    </span>

                                </div>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="equipPickupBeginTime" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">Start Time
                                        </label>
                                    </span>

                                </div>
                                <span class=" ">To</span>
                                <div class="p-inputgroup  w-180">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            schedule
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-calendar formControlName="equipPickupEndTime" [hourFormat]="'12'"
                                            [timeOnly]="true"></p-calendar>
                                        <label for="inputgroup">End Time
                                        </label>
                                    </span>

                                </div>
                                <div class="p-field-checkbox  w-180">
                                    <p-checkbox [binary]="true" formControlName="equipPickupCheckup"></p-checkbox>
                                    <label for="binary " class="ms-2">Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="p-field  mt-2  col-12 pt-2 d-flex align-items-center">
                            <p class="AvenirLTStd-Medium  white-space-nowrap mb-0 f-16 me-4 w-15 col-2">Delivery
                                Charges<span class="text-danger">*</span></p>
                            <div class="p-inputgroup col-10 pe-3">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        paid
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-inputNumber formControlName="deliveryCharges"></p-inputNumber>
                                    <!-- <label for="inputgroup">Delivery Charges <span class="text-danger">*</span> -->
                                    <!-- </label> -->
                                </span>
                            </div>
                        </div>
                        <div class="p-field    col-12 pt-2 d-flex align-items-center">
                            <p class="AvenirLTStd-Medium  white-space-nowrap mb-0 f-16 me-4 w-15 col-2">Comments</p>
                            <div class="p-inputgroup col-10 pe-3">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        chat
                                    </span>
                                </span>
                                <span class="p-float-label ">
                                    <textarea formControlName="comments" id="float-input" rows="2" cols="20"
                                        pInputTextarea placeholder="Comments"></textarea>

                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"></button>
                <div class="d-flex align-items-center">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="me-2"></p-button>
                    <!-- <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" ></p-button> -->
                    <p-button label="Save" (click)="saveDelivery()" icon="pi pi-save" iconPos="left"></p-button>
                </div>

            </div>
        </ng-container>
    </p-card>
</div>
<!-- <button pButton label="add" (click)="displayResponse=true"></button> -->
<!-- event summary  -->

<p-dialog [(visible)]="displayResponse"  header="Event Summary"  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <!-- <ng-template pTemplate="header">
    Event Summary
  </ng-template> -->
    <div class="w-75 mx-auto">
        <!-- Event:{{eventResponse?.eventId}} <br>
    Customer:{{eventResponse?.event[0].userName}}<br>
    AE:{{eventResponse?.event[0].initials}} <br>
    EventType:{{eventResponse?.event[0].eventType}}<br>
    End Time:{{eventResponse?.event[0].eventBeginTime}}<br>
    Guest Count:{{eventResponse?.event[0].guestCount}}<br> -->
        <div class="row pt-3">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">Event #</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Medium">
                : {{eventResponse?.eventId}}
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">Customer</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Light">
                : {{eventResponse?.event[0].userName}}
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">AE</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Light">
                : {{eventResponse?.event[0].initials}}
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">EventType</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Light">
                : {{eventResponse?.event[0].eventType}}
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">End Time</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Light">
                : {{eventResponse?.event[0].eventBeginTime}}
            </div>
        </div>
        <div class="row pt-2">
            <h6 class="control-label col-md-4 AvenirLTStd-Heavy mb-0">Guest Count</h6>
            <div class="col-md-8 f-14 AvenirLTStd-Light">
                : {{eventResponse?.event[0].guestCount}}
            </div>
        </div>
    </div>
        <!-- <button (click)="displayResponse=false"> close</button> -->
        <ng-template pTemplate="footer">
            <div class="d-flex align-items-center justify-content-between nav">
                <!-- <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
                    (click)="displayResponse=false"></button> -->
                <button pButton pRipple type="button" icon="pi pi-list" label="eventListing" class=""
                    [routerLink]="['/events/event-list']"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Add Items" class="p-button-info"
                    (click)="displayResponse=false"></button>
                    <button pButton pRipple type="button" icon="pi pi-copy" label="Copy From Event" class=""
                    (click)="displayResponse=false"></button>
            </div>
        </ng-template>
   
</p-dialog>