<!-- <p>event-setup-sheet works!</p> -->
<div class="mx-3">
    <div
        class=" bg-grey-darker color-white py-2 px-2 border-bottom text-center mt-2 d-flex align-items-center justify-content-between ">
        <p class="AvenirLTStd-Heavy f-16 mb-0">Event # 2228 - Sports Institute - 20 F Street NW - Sun 15-11-2020 -
            01:30
            PM - 02:00 PM - Web Order - 1 Guests-HH</p>
        <div class="d-flex align-items-center">

            <span class="material-icons box-shadow print-icon color-black ms-2">
                print
            </span>
        </div>

    </div>


    <div class="p-field   col-12 pt-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <span class="material-icons-round f-20">
                    chat
                </span>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="2" pInputTextarea></textarea>
                <label for="float-input">Comments</label>
                <button pButton pRipple type="button" label="Save"></button>
            </span>
        </div>
    </div>

    <div class="mt-2">
        <p-table [value]="customer" styleClass="p-datatable-sm event-setup-table" [reorderableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="sticky-top">
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                          </div>
                    </th>
                    <th class="sticky-top">Category </th>
                    <th class="sticky-top">
                        Quantity </th>
                    <th class="sticky-top">Description</th>
                    <th class="sticky-top">Menu Information </th>
                    <th class="sticky-top">Rental Equipment</th>
                    <th class="sticky-top">Floral, Staging & Vendor Items</th>
                    <th class="sticky-top">Bar & Beverage Items </th>
                    <th class="sticky-top">Type 5</th>
                    <th class="sticky-top">Type 6</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr class="tr-data" [pSelectableRow]="customer" [pReorderableRow]="rowIndex"  pReorderableColumn>
                    <td>
                        <div class="form-check form-check-inline form-checkbox me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1"></label>
                          </div>
                        <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2"><span
                                class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                                class="p-button-label">&nbsp;</span></button>
                    </td>
                    <td >Menu</td>
                    <td>
                        0.00
                    </td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </ng-template>

        </p-table>

    </div>
    <div class="nav justify-content-between align-items-center py-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger"
            ></button>
            <button pButton pRipple type="button" icon="pi pi-trash" label="Delete" class="p-button-danger"
            ></button>
        <p-button label="Add" iconPos="left" icon="pi pi-plus-circle" (click)="show()"></p-button>
    </div>
</div>




<!-- add setup popup  -->
<p-dialog header="Setup Sheet - Add" [(visible)]="setupAdd" styleClass="third-party" [style]="{width: '95vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-add-setup-sheet></app-add-setup-sheet>
</p-dialog>