<div class="w-100">
<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
        <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" [(ngModel)]="searchFlag" class="form-control search-input" placeholder="Search Event#" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
        <span class="material-icons box-shadow print-icon">
            print
        </span>
    </div>
</div>
<div class="px-3 pb-3">
    <p-table [value]="eventList" selectionMode="single" [paginator]="false"  [rows]="20" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">#</th>
                <th class="sticky-top">CustomerName</th>
                <th class="sticky-top">Event Name</th>
                <th class="sticky-top">AE</th>
                <th class="sticky-top">Type</th>
                <th class="sticky-top">Guests</th>
                <th class="sticky-top">Status</th>
                <th class="sticky-top">Menu</th>
                <th class="sticky-top">Pers</th>
                <th class="sticky-top">Disp</th>
                <th class="sticky-top">Eqp</th>
                <th class="sticky-top"> Bev</th>
                <th class="sticky-top">Bill</th>
                <th class="sticky-top">CR</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr class="bg-orange" *ngIf="rowIndex==0?true:item.listingEventDate!=eventList[rowIndex-1].listingEventDate">
                <td colspan="15"><h6 class="AvenirLTStd-Medium mb-0">{{item.listingEventDate}}</h6></td>
            </tr>
            <tr  class="tr-data">
                <td><span class="material-icons-outlined" (click)="op1.toggle($event)">
                        reorder
                    </span></td>
                <td>
                    {{item.id}}
                </td>
                <td class="AvenirLTStd-Medium">
                    {{item.customerName}}
                </td>
                <td>
                   {{item.eventName}}
                </td>
                <td>
                    {{item.initials}}
                </td>
                <td>
                    {{item.eventTypeFlag}}
                </td>
                <td>
                    {{item.guestCount}}
                </td>
                <td>
                    {{item.status}}
                </td>
                <td>
                    <p-button [label]="item.menuStatus" [ngStyle]="{'background':item.menuBackColor,'color':item.menuForeColor}" styleClass="p-button-sm p-button-secondary" class=""></p-button>
                </td>
                <td>
                    <p-button [label]="item.menuStatus" [ngStyle]="{'background':item.menuBackColor,'color':item.menuForeColor}" styleClass="p-button-sm p-button-secondary" class=""></p-button>
                </td>
                <td>

                    <p-button  [label]="item.dispStatus" [ngStyle]="{'background':item.dispBackColor,'color':item.dispForeColor}" styleClass="p-button-sm p-button-secondary" class=""></p-button>
                </td>
                <td>
                    <p-button  [label]="item.menuStatus" [ngStyle]="{'background':item.equipBackColor,'color':item.equipForeColor}" styleClass="p-button-sm"></p-button>
                </td>
                <td>
                  <p-button  [label]="item.menuStatus" [ngStyle]="{'background':item.bevBackColor,'color':item.bevForeColor}" styleClass="p-button-sm"></p-button>
                </td>
                <td>
                  <p-button  [label]="item.menuStatus" [ngStyle]="{'background':item.billBackColor,'color':item.billForeColor}" styleClass="p-button-sm"></p-button>
                </td>
                <td>
                    <button pButton pRipple type="button" label="0/0" class="p-button-warning p-button-sm"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator #p  [showCurrentPageReport]="true" [rows]="10" [totalRecords]="100" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>
</div>
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="p-fluid p-grid row m-0">
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" [(ngModel)]="eventId" id="inputtext" pInputText>
                    <label for="inputtext">Event #</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input [(ngModel)]="customerName" type="text" id="inputtext" pInputText>
                    <label for="inputtext">Customer</label>
                </span>
            </div>
            <div class="col-md-6 col-12 d-flex pe-0">
                <div class="p-field col-col-12   col-md-6 pe-0 ">
                    <span class="p-float-label">
                      <p-calendar inputId="basic" [maxDate]="endDate" [(ngModel)]="startDate"></p-calendar>
                      <label for="inputtext">Start Date</label>
                    </span>
                </div>
                <div class="p-field col-12   col-md-6   ps-2">
                    <span class="p-float-label">
                        <!-- <input type="text" id="inputtext" pInputText> -->
                        <p-calendar inputId="basic" [minDate]="startDate" [(ngModel)]="endDate"></p-calendar>
                        <label for="inputtext">End Date</label>
                    </span>
                </div>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  ">
                <!-- <label>AE</label>
                <p-listbox [options]="cities" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox> -->
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"  optionLabel="name"></p-dropdown>
                    <label for="dropdown">AE</label> -->
                    <p-multiSelect [(ngModel)]="ae" selectedItemsLabel="{0} items selected" inputId="multiselect" [options]="usersList" optionValue="id" optionLabel="name" [filter]="true">
                    </p-multiSelect>
                    <label for="multiselect">AE</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4 ">
                <!-- <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Event Type</label>
                </span> -->
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [(ngModel)]='eventType' [showClear]="true" [filter]="true" [autoDisplayFirst]="false" [options]="eventTypeList" optionValue="id" optionLabel="type">
                    </p-dropdown>
                    <label for="dropdown">Event Type</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4">
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Business Units</label> -->
                    <p-multiSelect [(ngModel)]="bussinessUnit" selectedItemsLabel="{0} items selected" inputId="multiselect" [options]="businessUnitsList" optionValue="id" optionLabel="name" [filter]="true">
                    </p-multiSelect>
                    <label for="multiselect">Business Units</label>
                </span>
            </div>
            <div class="p-field col-col-12   col-md-6 pe-0  mt-4">
                <span class="p-float-label">
                    <!-- <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" optionLabel="name">
                    </p-dropdown>
                    <label for="dropdown">Event Status</label> -->


                    <p-multiSelect [(ngModel)]="eventStatus" selectedItemsLabel="{0} items selected" inputId="multiselect" [options]="partyStatusList" optionValue="id" optionLabel="status" [filter]="true">
                    </p-multiSelect>
                    <label for="multiselect">Event Status</label>
                </span>
            </div>
            <div class="p-field col-12 col-md-6  pe-0 list-cont">
                <label>Guest Count</label>
                <div class="d-flex align-items-center">
                  <p-inputNumber inputId="integeronly" class="me-2 text-end" placeholder="Min" [(ngModel)]="guestMinCount"></p-inputNumber>
                  <p-inputNumber inputId="integeronly" class="me-2 text-end" placeholder="Max" [(ngModel)]="guestMaxCount"></p-inputNumber>
                </div>
            </div>
            <div class="p-field col-12 col-md-6 pe-0 mt-4">
                <span class="p-float-label">
                  <p-dropdown inputId="dropdown" [(ngModel)]='location' [showClear]="true" [filter]="true" [autoDisplayFirst]="false" [options]="locationsList" optionValue="id" optionLabel="name">
                  </p-dropdown>
                    <label for="inputtext">Location</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple (click)="onFilterSearch($event)" type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>


<p-overlayPanel #op1 id="slide-icons">
    <ng-template pTemplate>
        <ul class="m-0 p-0 d-flex">
            <li class="drop-list" [routerLink]="['/createevent']" pTooltip="Edit Event" tooltipPosition="top"> <span class="material-icons-outlined ">
                    edit
                </span>
                <!-- Edit Event -->
            </li>
            <li class="drop-list" pTooltip="Event Order" tooltipPosition="top"><span class="material-icons-outlined ">
                    shopping_cart
                </span>
                <!-- Event Order -->
            </li>
            <li class="drop-list" pTooltip="Full Order View" tooltipPosition="top"><span
                    class="material-icons-outlined ">
                    menu_book
                </span>
                <!-- Full Order View -->
            </li>
            <li class="drop-list" pTooltip="Estimates" tooltipPosition="top"><span class="material-icons " (click)="show()">
                    <i class="fas fa-hand-holding-usd"></i>
                </span>
                <!-- Estimates -->
            </li>
            <li class="drop-list" pTooltip="Repeat Event " tooltipPosition="top"><span class="material-icons ">
                    content_copy
                </span>
                <!-- Repeat Event -->
            </li>
            <li class="drop-list" pTooltip="Tasting Event" tooltipPosition="top"><span class="material-icons "><i
                        class="fas fa-text-width"></i></span>
                <!-- Tasting Event -->
            </li>
            <li class="drop-list" pTooltip="Log Call" tooltipPosition="top"><span class="material-icons ">
                    call
                </span>
                <!-- Log Call -->
            </li>
            <li class="drop-list" pTooltip="View Call Log" tooltipPosition="top"><span class="material-icons ">
                    list
                </span>
                <!-- View Call Log -->
            </li>
            <li class="drop-list" pTooltip="Event Gallery" tooltipPosition="top"><span class="material-icons ">
                    collections
                </span>
                <!-- Event Gallery -->
            </li>
            <li class="drop-list" pTooltip="Event Timeline" tooltipPosition="top"><span class="material-icons ">
                    timeline
                </span>
                <!-- Event Timeline -->
            </li>

            <li class="drop-list" pTooltip="Event Setup Sheet" tooltipPosition="top"><span class="material-icons ">
                    public
                </span>
                <!-- Event Setup Sheet -->
            </li>
            <li class="drop-list" pTooltip="Event History" tooltipPosition="top"><span class="material-icons ">
                    history
                </span>
                <!-- Event History -->
            </li>
            <li class="drop-list" pTooltip="Service Logger" tooltipPosition="top"><span class="material-icons ">
                    design_services
                </span>
                <!-- Service Logger -->
            </li>
            <li class="drop-list" pTooltip="Change Request" tooltipPosition="top"><span class="material-icons ">
                    request_page
                </span>
                <!-- Change Request -->
            </li>
            <li class="drop-list" pTooltip="Reports" tooltipPosition="top"><span class="material-icons ">
                    library_books
                </span>
                <!-- Reports -->
            </li>
        </ul>
    </ng-template>
</p-overlayPanel>
