<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 col-sm-6">
        <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input"   placeholder="Search Order #"
                aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4 col-sm-2 d-flex align-items-center justify-content-end">
        <span class="material-icons box-shadow print-icon">
            print
        </span>
    </div>
</div>
<div class="px-3 pb-3 mt-3">
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top">Order#</th>
                <th class="sticky-top">Order Name</th>
                <th class="sticky-top">Customer</th>
                <th class="sticky-top">Order Type</th>
                <th class="sticky-top">Delivery Date</th>
                <th class="sticky-top">Web Order Status
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr class="bg-orange" *ngIf="rowIndex==0">
                <td colspan="15"><h6 class="AvenirLTStd-Medium mb-0">11/15/2020</h6></td>
            </tr>
            <tr class="tr-data">
                <td>
                    14-04-2021 1:53 AM
                </td>
             <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            <td>
                14-04-2021 1:53 AM
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- filter  -->
<p-overlayPanel #op [style]="{width: '320px'}" id="filter">
    <ng-template pTemplate>
        <div class="p-fluid p-grid row m-0">
 
            <div class=" col-12 d-flex pe-0">
                <div class="p-field pe-0 w-100">
                    <span class="p-float-label">
                      <p-calendar inputId="basic" ></p-calendar>
                      <label for="inputtext">Start Date</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple  type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
  </p-overlayPanel>