<!-- <p>view-calllog works!</p> -->
<div class="px-3 pb-2 pt-3 d-flex align-items-center justify-content-between  filter-section">
    <div class="d-flex align-items-center col-md-4 ">
        <!-- <h4 class=" mb-0 AvenirLTStd-Heavy me-2">Caterer :</h4> <h6 class="mb-0 AvenirLTStd-Heavy mt-2">THE CHEF'S TABLE - CAT</h6> -->
    </div>
    <div class="form-group col-md-4 col-sm-12 p-0 d-flex align-items-center">
        <div class="input-group ">
            <input type="search" class="form-control search-input" placeholder="Search Name" aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
            <div class="search-icon">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <span class="material-icons pe-3" (click)="op.toggle($event)">
            filter_alt
        </span>
    </div>
    <div class="text-end col-md-4  d-flex align-items-center justify-content-end">
    </div>
</div>

<div class="nav align-items-center px-3 pb-2 ">
    <p-card styleClass="p-0 fullorder-card " class="col-md-4 col-12 pe-2 my-2" *ngFor="let item of cities">
        <div class="bg-cater-pink color-white d-flex align-items-center justify-content-between sticky-top">
            <p class="AvenirLTStd-Heavy mb-0 p-2"> Customer Name :<span class="AvenirLTStd-Heavy"> Venkat,Venkat</span>
            </p>
        </div>
        <p class="AvenirLTStd-Heavy mb-0 ps-2 pt-1">Contact Name :<span class="AvenirLTStd-Medium"> Mom,Your
        </span>
        </p>
        <p class="AvenirLTStd-Heavy mb-0 ps-2 pt-1"> Created on :<span class="AvenirLTStd-Medium"> 24-06-2021 10:40 AM</span>
        </p>
        <p class="AvenirLTStd-Heavy mb-0 ps-2 pt-1"> Created by :<span class="AvenirLTStd-Medium"> superadmin</span>
        </p>
        <p class="AvenirLTStd-Heavy mb-0 ps-2 pt-1"> Comments : <span class="AvenirLTStd-Medium"> test</span>
        </p>
    </p-card>
</div>
<!-- filter  -->
<p-overlayPanel #op [style]="{width: '550px'}" id="filter">
    <ng-template pTemplate>
        <div class="d-flex align-items-center justify-content-between mb-4 mx-3">
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                <label for="ny" class="mx-2">Customer Name</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="San Francisco" inputId="sf"></p-checkbox>
                <label for="sf" class="mx-2">Lead Name</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="Los Angeles" inputId="la"></p-checkbox>
                <label for="la" class="mx-2">Event</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group1" value="Chicago" inputId="ch"></p-checkbox>
                <label for="ch" class="mx-2">Event Name</label>
            </div>
        </div>
        <div class="p-fluid p-grid row m-0">
            <div class="p-field col-12 col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Event #</label>
                </span>
            </div>
            <div class="p-field col-12   col-md-6 pe-0 mb-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Customer Name</label>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info"></button>
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-primary"></button>
        </div>
    </ng-template>
</p-overlayPanel>