<div class="px-3 ">
    <p-table [value]="customer" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th class="sticky-top"></th>
                <th class="sticky-top">Type</th>
                <th class="sticky-top">Value</th>
                <th class="sticky-top">User</th>
                <th class="sticky-top">Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr [pSelectableRow]="customer" class="tr-data">
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-text p-button p-component p-button-icon-only me-2" (click)="showResponsiveDialog()"><span
                            class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
             
                    <button  pbutton="" pripple="" type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text p-ripple p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-trash" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span></button>
                </td>
                <td>
                    1
                </td>
                <td class="AvenirLTStd-Medium">
                    ABC Widgets ABC Widgets
                </td>
                <td>
                    Sun - Lunch
                </td>
                <td>
                    HH
                </td>


            </tr>
        </ng-template>
    </p-table>
    <div class="nav justify-content-between align-items-center mt-2">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" ></button>
        <p-button label="Add" icon="pi pi-plus-circle" iconPos="left" ></p-button>
    </div>
</div>

<p-dialog header="Edit - Preferences" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '30vw'}" [baseZIndex]="10000" 
    [draggable]="false" [resizable]="false">
    <form>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round  f-20" >
                        grade
                        </span>
                </span>
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name" styleClass="w-100" class="w-100"></p-dropdown>
                    <label for="inputgroup">Preferences
                    </label>
                </span>
            </div>
        </div>
        <div class="p-field   pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-round f-20">
                        chat
                        </span>
                </span>
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" pInputTextarea></textarea>
                    <label for="inputgroup">Value
                    </label>
                </span>
            </div>
        </div>
    </form>
        <ng-template pTemplate="footer">
        <!-- <p-button  label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="displayResponsive=false" label="Yes" styleClass="p-button-text"></p-button> -->
        <div class="nav justify-content-between align-items-center">
            <button pButton pRipple type="button" icon="pi pi-times" label="Close" class="p-button-danger" (click)="displayResponsive=false"></button>
            <p-button label="Save" (click)="displayResponsive=false" icon="pi pi-save" iconPos="left" ></p-button>
        </div>
        </ng-template>
</p-dialog> 